<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Visual map of Planning reports and capital projects">
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />

    <title>Cornerwise</title>
    <script data-main="/static/scripts/main" src="/static/scripts/require.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <link rel="stylesheet" href="/static/css/app.css" type="text/css" media="screen" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Find and explore current and future zoning projects near you."/>
    <meta name="keywords" content="civic engagement,code for america,code for boston, permit, zoning,development,planning,planning boardmurban planning,zoning,zoning board" />
    <!-- OpenGraph -->
    <meta name="og:type" content="website" />
    <meta name="og:image" content="/static/images/cornerwise-beta-logo.png" />

    <!-- Template for proposals in the proposal table -->
    <script type="text/template" id="proposal-template">
        <div class="thumbnail">
            <img src="<%- proposal.getThumb() %>"/>
            <a href="#view=main&ps=<%- proposal.id %>">Show on Map</a>
        </div>
      <div class="name" title="<%- proposal.get('address') %>">
        <%- proposal.get('address') %>
      </div>
      <div class="case"><%- proposal.get("caseNumber") %></div>
      &bull;
      <div class="distance">
          <%= prettyDistance(proposal.get('refDistance')) %> away
          from
          <%= refLocationButton() %>
      </div>
      <div class="dates">
        Last updated <span class="updated"><%= prettyDate(proposal.get("updated")) %></span>
      </div>

      <%
         var notice = proposal.getAttributeValue("legal_notice");

         if (notice) {
      %>
      <div class="legal-notice">
        <%= gloss(abridge(notice)) %>
      </div>
      <% } %>

      <table class="attributes table">
        <tr class="attribute">
          <th scope="row">APPLICANT</th>
          <td><%- proposal.getAttributeValue("applicant_name") %></td>
        </tr>

        <tr class="attribute">
          <th scope="row">PUBLIC HEARINGS</th>
          <td><%- proposal.getAttributeValue("dates_of_public_hearing") %></td>
        </tr>
      </table>
    </script>

    <script type="text/template" id="project-template">
      <div class="thumbnail">
        <img src="<%- project.thumbnail() %>">
      </div>
      <div class="name" title="<%- project.get('name') %>">
        <%- project.get("name") %>
      </div>
      <div class="category" title="<%- project.get('category') %>">
          <img class="icon" src="<%- project.categoryIcon() %>"
               title="<%- project.get('category') %>"/>
          <%- project.get("category") %>
      </div>
      <div class="department">
          <%- project.departmentName() %>
      </div>
      <div class="time-span"></div>
      <div class="status">
        <div class="<%- project.get('approved') ? 'approved' : 'pending' %>"/>
      </div>
      <div class="budget-year">
        <% var years = project.yearRange();
           if (years[0] == years[1]) {
        %>
        <%= years[0] %>
        <% } else { %>
        <%= years[0] %>&ndash;<%= years[1] %>
        <% } %>
      </div>
      <div class="budget">
        <%- prettyAmount(project.totalBudget()) %>
      </div>
      <div class="description" >
          <%- project.get("description") %>
      </div>
    </script>

    <script type="text/template" id="proposal-preview-template">
      <div class="proposal-preview">
        <img src="<%- proposal.getThumb() %>" class="thumb"/>
        <h3 class="address"><%- proposal.get("address") %></h3>
        <div class="case-number"><%- proposal.get("caseNumber") %></div>
        <div class="applicant">
          <%
             var applicant = proposal.getAttributeValueOrFetch("applicant_name"),
             notice = proposal.getAttributeValue("legal_notice"),
             owner = proposal.getAttributeValue("owner_name");
             if (applicant) {
             %>
          <div class="applicant-name"><%- applicant %></div>
          <% }
             if (owner) {
             %>
          <div class="applicant-name"><%- owner %></div>
          <%
             }
             if (notice) {
             %>
          <div class="legal-notice"><%= gloss(abridge(notice)) %></div>
          <% } %>
        </div>
        <div id="details-minimap"></div>

        <div class="controls">
          <a class="more" href="#view=details">View more&hellip;</a>
          <a class="calendar" aria-label="View related event" href="#">
            <img src="/static/images/calendar.png">
          </a>
        </div>
      </div>
    </script>

    <script type="text/template" id="project-preview-template">
      <h3><%- project.get("name") %></h3>
      <div class="category"><%- project.get("category") %></div>
      <div class="department"><%- project.departmentName() %></div>
      <div class="desription">
        Making the City’s streets and sidewalks safe and accessible to everyone is a top priority. Given Somerville’s density, city streets and sidewalks are heavily utilized and thus require frequent maintenance.
      </div>

      <canvas class="budget-chart" height="200" width="300"></canvas>
      <div class="controls">
        <a class="more" href="#view=projectDetails">View More&hellip;</a>
      </div>
    </script>

    <script type="text/template" id="layer-item-template">
      <input type="checkbox"
             name="<%- layer.get('id') %>"
             id="<%- layer.get('id') %>-layer"
             <% if (layer.get('shown')) { %>checked<% } %>/>
      <label class="title" for="<%- layer.get('id') %>-layer">
        <%- layer.get('title') %>
      </label>
      <a class="color" style="background-color: <%- layer.get('color') %>"/>
      <%
         if (layer.get("info")) {
      %>
      <a class="layer-info">
        i
        <div class="info"><%- layer.get("info") %></div>
      </a>
      <%
         }
         %>
    </script>

    <script type="text/template" id="info-template">
      <div>
        Click a proposal to view more information about it.
      </div>
    </script>

  </head>
  <body>
    <div id="alert-container"><div id="alert"></div></div>
    <div id="map-container">
      <div id="map"></div>

      <!-- container for preview of selected proposal/project -->
      <div id="preview"></div>

      <!-- container for detail view -->
      <div id="overlay"></div>
    </div>

    <div id="layers">
        <a class="expand" aria-label="Layers"></a>
        <div class="contents"> </div>
    </div>

    <!-- This element prevents interactions with the map and other
         controls while the user is viewing, e.g., the intro screen. -->
    <div id="event-eater" class="_setview" data-goto="main"></div>

    <div id="search-banner" class="overlay">
        <div id="logo" class="resp-portrait-hide"></div>
        <div class="overlay-contents">
            <h3>what&rsquo;s being built near&hellip;</h3>
            <div class="input-group big-input">
                <form id="ref-address-form">
                    <input class="input" type="text" name="address" placeholder="enter address" autocomplete="off" autofocus/>
                    <img src="/static/images/geolocating.gif" class="status" alt="searching" />
                    <button type="submit" class="input-button go-button">go</button>
                    <a id="geolocate" href="#" title="Search near me"  aria-label="Search near me"></a>
                </form>
            </div>
        </div>
        <a id="explore" href="#view=main">Explore the Data</a>

        <!-- Filter controls will be appear below the title bar when the intro is
             complete. -->
        <div id="filter-controls" class="collapsed">
            <div class="filters">
                <div class="input-group">
                    <input class="input" type="text" name="filter-text"
                           placeholder="Search" autocomplete="off"
                           id="filter-text"/>
                </div>
                <label>
                    Include Closed&nbsp;
                    <input name="include-closed" type="checkbox"/>
                </label>
                &mdash;
                <label>
                    Fit Map <input id="fit-results" type="checkbox">
                </label>
                <div id="filter-attributes"></div>
            </div>

            <a href="#fc=1" class="toggle-filters when-collapsed">Filter Results</a>
            <a href="#fc=0" class="toggle-filters when-expanded">Hide</a>
        </div>

        <div id="mode-controls">
            <a class="mode main-mode" href="#view=list"><img src="static/images/list-icon.png" alt="List" width="23" height="23"><br>
            LIST</a>
            <a class="mode list-mode" href="#view=main"><img src="static/images/map-icon.png" alt="Map" width="23" height="23"><br>
        MAP</a>        </div>
    </div>


    <div id="intro" class="overlay">
      <div class="section">
        <h3>PLANNING AND ZONING</h3>

        <ul>
          <li>current building projects</li>
          <li>building requests</li>
          <li>variances</li>
          <li>schedule of public hearings</li>
        </ul>

        <div class="more">
          <a href="#view=about">Learn more</a>
        </div>
      </div>
      <div class="section">
        <h3>CITY INITIATIVES</h3>

        <div class="lede">

        </div>
      </div>
      <div class="section">
        <div class="logos">
          <a href="https://github.com/cityofsomerville/cornerwise">
            <img src="/static/images/logo/github-light.png">
          </a>
          <a href="http://codeforboston.org" title="Code for Boston">
            <img src="/static/images/code_for_boston_logo.png" alt="Code for Boston" />
          </a>
        </div>
      </div>
    </div>

    <div id="info" class="overlay">
      <div class="dragarea">
        <div class="dragger">More</div>
      </div>
      <div class="content"> </div>
      <a href="#" class="close">&times;</a>
    </div>

    <div id="modal" class="_setview" data-goto="main">
      <div id="modal-contents"></div>
    </div>

    <div id="list-view"></div>

    <script src="https://use.typekit.net/wpe7mmw.js"></script>
    <script type="text/javascript">
      try{Typekit.load({ async: true });}catch(e){}
    </script>
  </body>
</html>
