GOOGLE_API_KEY=YourKeyHere
GOOGLE_BROWSER_API_KEY=YourKeyHere
GOOGLE_STREET_VIEW_SECRET=YourKeyHere
GEOCODER=google
ARCGIS_CLIENT_ID=YourKeyHere
ARCGIS_CLIENT_SECRET=YourKeyHere
SOCRATA_APP_TOKEN=YourKeyHere
SOCRATA_APP_SECRET=YourSecretHere
SENDGRID_API_KEY=ApiKey
SERVER_DOMAIN=localhost:3000
FOURSQUARE_CLIENT=ApiKey
FOURSQUARE_SECRET=ApiSecret
GOOGLE_APPLICATION_CREDENTIALS=/secrets/google_credentials.json
DJANGO_SECRET=iTvsc0}$nzxNa{Jf|x|NvBjca:xc2-n<LY9_@(iAZH#ta7pR^b