GOOGLE_API_KEY=YourKeyHere
GOOGLE_BROWSER_API_KEY=YourKeyHere
GOOGLE_STREET_VIEW_SECRET=YourKeyHere
GEOCODER=google
ARCGIS_CLIENT_ID=YourKeyHere
ARCGIS_CLIENT_SECRET=YourKeyHere
SOCRATA_APP_TOKEN=YourKeyHere
SOCRATA_APP_SECRET=YourSecretHere
SENDGRID_API_KEY=ApiKey
GEO_REGION=Somerville, MA
SERVER_DOMAIN=localhost:3000
FOURSQUARE_CLIENT=ApiKey
FOURSQUARE_SECRET=IUKEXQITJFA445RVQ4WVYFHDTMANVGU5TEETXEUYXC22B5NW
GOOGLE_APPLICATION_CREDENTIALS: /google_credentials.json
