amqp==2.1.4
anyjson==0.3.3
beautifulsoup4==4.5.1
billiard==3.5.0.2
celery==4.0.2
dbfread==2.0.7
Django==1.10.4
django-celery-beat==1.0.1
django-celery-results==1.0.1
django-redis-cache==1.7.1
google-api-python-client==1.5.5
gunicorn==19.6.0
httplib2==0.9.2
kombu==4.0.2
nltk==3.1
oauth2client==4.0.0
Pillow==3.4.2
Pillow-PIL==0.1.dev0
ply==3.9
psycopg2==2.6.2
py==1.4.32
pyasn1==0.1.9
pyasn1-modules==0.0.8
PyPDF2==1.25.1
pytest==2.7.2
python-dateutil==2.6.0
python-http-client==2.2.1
pytz==2016.10
redis==2.10.5
rsa==3.4.2
sendgrid==3.6.3
simplejson==3.8.2
six==1.10.0
smtpapi==0.3.1
uritemplate==3.0.0
vine==1.1.3
