*.pyc
*.pid
*.log
*.swp
.[#]*
[#]*[#]
*~
celerybeat-schedule.*
localConfig.js
local_settings.py
client/doc
GPATH
GRTAGS
GTAGS
TAGS
*.cer
*.pem
*.pfx
local/
.tern-port
google_credentials.json
/logs/
/docker-support/prod.env
client/css/font
.DS_Store
/client/build/
/client/dist/
/client/scripts/src/build
/client/app.js
/server/celerybeat-schedule
/client/css/app.build.css
/docker-support/nginx.env
