body {
    font-family: proxima-nova, "Avenir", sans-serif;
    height: 100%;
    width: 100%;
    overflow:  hidden;
}

a {
    color: #2D642B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
}

h3 {
    font-weight: 100;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

#event-eater {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body.nointro #event-eater {
    display: none;
}

#data {
    display: none;
}

#map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.control {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid white;
    color: #2A749B;
    position: absolute;
}

#map-controls.control a {
    border: 1px solid white;
    color: #2A749B;
    display: block;
    font-size: x-large;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#map-controls.control a:hover {
    background-color: #2A749B;
    color: white !important;
    text-decoration: none;
}

#map-controls {
    right: 1em;
    top: -7em;
}

#map-controls a.disabled {
    color: #aaa;
    cursor: default;
    pointer-events: none;
}

#map-options {
    right: 4em;
    top: -4.65em;
    height: 2em;
    line-height: 2em;
}

#map-options.expanded .expand-layers {
    display: none;
}

#map-options .collapse-layers {
    display: none;
}

#map-options.expanded .collapse-layers {
    display: block;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
}

#map-options.control a {
   color: #2A749B;
}

#map-options.control:hover {
    background-color: #2A749B;
}

#map-options.control:hover a.toggle-layers {
    color: white !important;
    text-decoration: none;
}

button {
    background-color:  white;
    border-radius: 0;
    color: #2A749B;
    font-size: 10pt;
}

.empty {
    display: none;
}

#menu {
    position: absolute;
    padding: 0.5em;
    right: 0;
    top: -0.2em;
    text-align: right;
}

span.icon {
    font-size: xx-large;
}

.leaflet-control-container {
    display: none;
}

.leaflet-top .leaflet-control {
    margin-top: 150px !important;
}

#logo {
    background: url(/static/images/cornerwise-beta-logo.png);
    background-color: #222;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #222;
    position: absolute;
    top: -60px;
    left: 0em;
    right: 0;
    height: 50px;
    z-index: 2;
    transition: width 0.2s linear, top 0.2s linear, left 0.2s linear;
}

.overlay {
    background-color: rgba(43, 43, 43, 0.95);
    color: white;
    overflow: hidden;
}

#search-banner {
    background-color: rgba(57, 127, 52, 0.9);
    overflow: visible;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 100px;
    z-index: 2;
    transition: top 0.2s linear, background-color 0.2s linear;
}

#filter-controls {
    background-color: #2A749B;
    height: 0.5em;
    display: none;
    text-align: left;
}

#user-controls {
    float: right;
}

h3 {
    padding: 0;
    margin: 0.5em;
}

.overlay-contents {
    color: white;
    display: inline-block;
    font-size: xx-large;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.input-group {
    background-color: white;
    line-height: 1em;
    margin: 0.3em;
    padding: 0.1em;
    position: relative;
}

.input-group label {
    border-right: 1px solid rgba(255,255,255,0.5);
    font-weight: bold;
    padding-right: 0.5em;
}

.input-group label + .input {
    width: 50%
}

.input-group .input {
    background-color: transparent;
    border: none;
    font-size: small;
    padding: 0.4em;
    width: 85%;
}

.input-group .status {
    display: none;
    position: absolute;
    right: 0.2em;
    top: 0.2em;
}

body.geolocating #ref-address-form .status {
    display: block;
}

.big-input .input {
    border: none;
    height: 35px;
    font-size: large;
    padding: 0;
    padding-left: 0.5em;
}

.overlay .input-group {
    background-color:transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(180,180,180,1);
}

.overlay .input {
    color: white;
    font-family: "Avenir";
}

.big-input .input-button {
    font-size: x-large;
}

button.big {
    font-size: x-large;
}

.overlay ::-webkit-input-placeholder {
    color: white;
    font-weight: lighter;
}

input:focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.input-button {
    background: none;
    border: none;
    float: right;
    font-variant: small-caps;
    height: 100%;
}

.go-button {
    color: white;
}

#explore {
    color: black;
    display: block;
    text-decoration: underline;
    padding-bottom: 1.2em;
}

#geolocate {
    background: url(/static/images/geolocate-button.png);
    display: block;
    font-size: medium;
    right: -40px;
    top: 10px;
    position: absolute;
    text-decoration: underline;
    height: 25px;
    width: 25px;
}

body.geolocating #geolocate {
    color: lightgray;
    pointer-events: none;
}

body.geolocating #geolocate:hover {
    text-decoration: none;
}

body.geolocating #ref-address-form .go-button {
    display: none;
}

#intro {
    height: 5em;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: height 0.2s linear;
}

.section h3 {
    color: #397F34;
    font-family: "Avenir Next Condensed", "Arial Narrow", sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0;
    margin-bottom: 0.2em;
}

.overlay .section {
    float: left;
    padding: 1em;
    width: 30%;
    height: 100%;
}

.section .logos {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.logos img {
    max-height: 40px;
}

.lede h4 {
    font-variant: small-caps;
    font-family: "Avenir Next Condensed", "Arial Narrow", sans-serif;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.2em;
    width: 50%;
}

.section .more {
    text-align: right;
}

#subscribe {

    top: 2em;
}

#signup {
    text-align: center;
    line-height: 5em;
}


body.nointro #explore {
    display: none;
}


body.nointro #logo {
    background-color: transparent;
    border: none;
    left: 1em;
    top: 0.75em;
    width: 150px;
}

body.nointro #intro {
    height: 0;
}


body.nointro #search-banner {
    background-color: rgba(43, 43, 43, 0.98);
    top: 0;
}

body.nointro #search-banner h3 {
    display: none;
}


.overlay-contents {
    transition: padding 0.2s linear;
}

body.nointro #search-banner .overlay-contents {
    padding: 0;
    margin-left: 0;
    width: 50%;

    transition: width 0.2s linear;
}

body.main #filter-controls, body.list #filter-controls {
    display: block;
}

#filter-controls.expanded .filters {
    display: block;
    padding: 0.5em;
}

#filter-controls .filters {
    background-color: #2A749B;
    height: 2.5em;
    margin-bottom: -0.2em;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(180,180,180,1);
    transition: height 0.2s linear;
    /* width: 60%; */
}
#filter-controls.collapsed .filters {
    height: 0;
}

#filter-controls.collapsed .filters * {
    display: none;
}

#filter-controls.collapsed #filter-attributes {
    display: none;
}

#filter-attributes {
    float: left;
}

.filters .filter-group {
    display: inline-block;
    margin-right: 1em;

}

.filters .input-group {
    width: 250px;
}

.filters label {
    font-size: smaller;
}

.toggle-filters {
    background-color: #2A749B;
    color: white;
    font-size: small;
    padding: 0.5em;
    padding-top: 0.5em;
    position: relative;
    top: 0.5em;
    left: 2em;
}

#mode-controls {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
}

#mode-controls .mode {
    border-radius: 5px;
    color: white;
    margin: 0.5em;
    width: 50px;
    height: 50px;
}

.action {
    background-color: #4EAF48;
}

.action:hover {
    background-color: #7fc87a;
}

.mode {
    display: none;
}

body.main .main-mode, body.list .list-mode {
    display: block;
    padding-top: 3px;
}

div.proposal-marker {
    background: url(/static/images/marker-orange.png) no-repeat;
    background-size: contain;
    padding-top: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
}

div.marker-hovered {
    background-image: url(/static/images/marker-orange-hover.png) !important;
}

div.marker-selected {
    animation-duration: 1s;
    animation-name: selection-highlight;
    background-image: url(/static/images/marker-orange-active.png) !important;
    border-radius: 15px;
}

div.leaflet-marker.zoomed-proposal-marker {
    background-image: none;
}

div.zoomed-proposal-marker.marker-selected {
    background-color: white;
    background-image: none !important;
    border-color: #EE6C43;
}

@keyframes selection-highlight {
    from {
        background-color: goldenrod;
        box-shadow: 0 0 10px 10px goldenrod;
    }

    to {
        box-shadow: none;
    }
}

img.project-type-badge {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    right: 5px;
    top: 4px;
}

.zoomed-proposal-marker {
    background-color: #eee;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -2px 2px 4px darkgray;
    line-height: 75px;
    padding: 5px;
    text-align: center;
}

.zoomed-proposal-marker:hover {
    background-color: white;
}

.zoomed-proposal-marker img.thumb {
    max-height: 100%;
    max-width: 100% !important;
}

.zoomed-proposal-marker .proposal-marker {
    position: absolute;
    z-index: 10;
    right: -0.5em;
    top: -0.5em;
}

.proposal-selected {
    background-color: aliceblue !important;
}

.proposal-info .subtitle {
    font-size: smaller;
}

.proposal-info .distance {
    color: #555;
    display: inline-block;
    font-size: small;
}

.updated {
    font-weight: 500;
}

.ref-loc {
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 0.1em;
    padding: 0.1em;
}

.info-item .case {
    color: maroon;
    display: inline-block;
    font-size: small;
}

.info-item:first-child {
    padding-top: 2em;
}

.info-item {
    border-bottom: 2px solid lightgray;
    padding: 3em;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 0.5em;
    position: relative;
}

.info-item .thumbnail {
    float: right;
    margin-left: 2em;
    margin-right: 1em;
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 200px;
    text-align: center;
}

.thumbnail img {
    max-height: 100%;
    max-width: 100%;
}

.thumbnail a.show-on-map {
    background-color: white;
    background-image: url(/static/images/icon/youarehere.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;
    box-shadow: 0 0 3px black;
    display: block;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    height: 30px;
    width: 30px;
}

.info-item .name {
    color: #4EAF48;
    font-size: larger;
    font-weight: 500;
    overflow: hidden;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-name {
    font-style:italic;
}

.source-link {
    color: darkgray !important;
    font-size: small;
}

.details .source-link {
    float: right;
    margin-right: 5em;
}

.info-item .dates {
    color: crimson;
    float: right;
    font-size: small;
}

.department {
    font-size: small;
    font-style: italic;
    padding-top: 0.1em;
}

.project .category {
    padding-left: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.category img {
    width: 20px;
    height: 20px;
}

.project .budget {
    position: absolute;
    bottom: 11px;
    right: 5px;
    font-size: medium;
}

.project .status {
    color: goldenrod;
    font-size: small;
}

.status.approved {
    color: green;
}

.collapsed .when-expanded {
    display: none !important;
}

.expanded .when-collapsed {
    display: none !important;
}

a.color {
    border: 1px solid darkgray;
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
}

a.layer-info {
    background-color: steelblue;
    border-radius: 10px;
    color: white;
    cursor: help;
    display: inline-block;
    font-size: smaller;
    font-style: italic;
    font-weight: bold;
    margin-left: 5px;
    text-align: center;
    width: 15px;

    position: relative;
}

a.layer-info .info {
    background-color: white;
    color: black;
    font-style: normal;
    font-weight: 100;
    display: none;
    text-align: justify;
    top: 0;
    left: 15px;
    padding: 0.5em;
    width: 15em;
    position: absolute;
}

a.layer-info:focus, a.layer-info:hover {
    z-index: 3;
}

a.layer-info:focus .info,
a.layer-info:hover .info {
    display: block;
}

#preview {
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    position: absolute;
    width: 20em;
    padding: 1em;
    bottom: 2%;
}

a.glossary {
    border-bottom: 1px solid orange;
    cursor: help;
    position: relative;
}

a.glossary:hover {
    border-bottom-color: transparent;
    text-decoration: none;
}

.definition .term {
    font-weight: 500;
}

.definition, .layer-info .info {
    background-color: white;
    border: 2px solid green;
    border-radius: 5px;
    font-weight: 100;
    padding: 0.5em;
}

.definition {
    bottom: 0;
    color: black;
    left: 110%;
    position: absolute;
    width: 15em;
    z-index: 4;
}

#preview {
    padding-bottom: 2em;
}

#preview h3 {
    font-weight: 500;
    margin-left: 0;
}

#preview .case-number {
    color: #EE6C43;
    font-size: smaller;
}

#preview .more {
    color: forestgreen;
    float: right;
}

#preview .calendar {
    display: none;
    bottom: 1em;
}

#preview .calendar img {
    max-height: 40px;
    max-width: 40px;
}

#preview img {
    max-width: 100px;
    float: left;
    margin-right: 0.5em;
}

#preview .controls {
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

.applicant-name {
    font-size: small;
    font-style: italic;
    font-weight: bold;
}

.legal-notice {
    font-size: small;
    margin-bottom: 1em;
}

.proposal-info > * {
    padding: 0.2em;
}

.planning {
    margin-left: -10px;
    margin-top: 7px;
}

#overlay, #modal {
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

#overlay .minimap {
    float: left;
    height: 90px;
    width: 110px;
    margin-right: 10px;
    position: relative;
    margin-top: -20px;
}

#modal-contents .close {
    font-size: small;
    float: right;
}

#modal-contents {
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 15px;
    margin-top: 4rem;
}

#modal-contents {
    height: 90%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

#modal.showing {
    display: block;
}

#info {
    display: none;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
    height: 0;

    transition: max-height 0.2s linear;
}

.loading-message {
    color: rgba(255, 255, 255, 0.4);
    display: none;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
}

#info.loading .loading-message {
    display: block;
}

body.main #info {
    display: block;
    height: auto;
    max-height: 500px;
    /* overflow-y: scroll; */
    overflow: visible;
    padding-bottom: 2em;
}

#info .dragarea {
    position: absolute;
    top: -1.5em;
    left: 0;
    right: 0;
}

/* Applied while the user is dragging */
#info._disable_height_transition {
    transition: none;
}

#info.default {
    max-height: 0 !important;
    padding: 0 !important;
}

#info.default .dragger {
    display: none;
}

#info .chart-area {
    text-align: center;
}

#info .budget-chart {
    background-color: white;
    display: inline-block;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.brief-model {
    display: inline-block;
    font-size: smaller;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10em;
}

a.brief-model:hover {
    color: #54C9D3 !important;
    text-decoration: none;
}

.dragarea .dragger {
    color: white;
    cursor: -webkit-grab;
    padding: 0.5em;
    text-align: center;
    width: 100px;
    margin: auto;
}

#info .close {
    color: #4EAF48;
    font-size: xx-large;
    position: absolute;
    right: 1em;
    top: 0em;
}

#info a {
    color: white;
}

#info a .definition {
    color: black;
}

#info {
    padding-right: 300px;
}

#info .sidebar {
    padding-right: 3em;
    padding-top: 2.5em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 250px;
}

.main-thumb-container {
    text-align: center;
    margin-bottom: 0.5em;
}

#info .main-thumb {
    max-height: 150px;
    max-width: 200px;
}

#info .prev-button, #info .next-button {
    border-radius: 10px;
    font-size: 36pt;
    position: absolute;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    top: 50%;
    margin-top: -70px;
    z-index: 10;
}

#info .prev-button:hover, #info .next-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #4EAF48;
    text-decoration: none;
}

#info .prev-button {
    left: 0.5em;
    margin-left: -10px;
}

#info .next-button {
    right: 0.5em;
    margin-right: -10px;
}

.details {
    overflow-y: auto;
}

.details h4 {
    font-size: x-large;
    font-weight: 400;
    margin-bottom: 0.3em;
}

.details .case-number {
    display: none;
}

#info .documents {
    padding-left: 1em;
}

#info a.document {
    color: #4EAF48;
    display: block;
}


.attribute th, .attribute td {
    padding-bottom: 1em;
}

.attribute th {
    font-size: x-small;
    font-weight: 500;
    padding: 0.2em;
    padding-right: 1em;
    text-align: left;
    text-transform: uppercase;
    vertical-align: top;
}

.attribute td {
    font-size: smaller;
}

#info.empty .dragarea {
    display: none;
}

a.thumb-link {
    border: 1px solid #777;
    border-radius: 5px;
    float: left;
    margin: 0.2em;
    padding: 0.2em;
    height: 80px;
    width: 80px;
    text-align: center;
    vertical-align: middle;

    transition: border-color 0.1s linear;
}

a.thumb-link:hover {
    border: 1px solid goldenrod;
}

.images .thumb {
    display: inline-block;
    max-height: 80px;
    max-width: 80px;
    padding-bottom: 5px;
}

#alert-container {
    bottom: -65px;
    height: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
}

#alert {
    background-color: whitesmoke;
    border: 2px solid #BA252A;
    border-radius: 0.2em;
    color: black;
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    padding: 0.5em;
    pointer-events: none;
    width: 50%;

    transition: opacity 0.2s ease-out;
}

#alert.displayed {
    opacity: 1;
    pointer-events: auto;
}

#alert.info {
    border: 2px solid #888;
}

body.main .leaflet-control-container {
    display: block;
}

#loading-indicator {
    display: none;
    padding: 0.75em;
    top: 20px;
    right: 1em;
    z-index: 10;
}

body.nointro #loading-indicator {
    top: 100px;
}

body.loading-proposals #loading-indicator {
    display: block;
}

#map-options {

}

#layers {
    bottom: 0;
    max-width: 0;
    position: absolute;
    right: 2em;
    overflow: hidden;

    transition: max-width 0.3s linear, max-height 0.3s linear;
}

#map-options.expanded #layers {
    max-height: 6em;
    max-width: 1000px;

}

.layer-list {
    height: 6em;
    width: 1000px;
    text-align: right;
}

.layer-button {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    display: inline-block;
    padding-top: 1em;
    text-align: center;
    height: 6em;
    width: 8em;
}

.layer-button:hover, .layer-button.selected {
    background-color: #2A749B;
    color: white !important;
    text-decoration: none;
}

.layer-button:hover .layer-icon,
.layer-button:hover .label {
    color: white;
}

.layer-button .layer-icon {
    font-size: 36pt;
    text-align: center;
}

.layer-button .label {
    font-size: small;
    font-weight: 500;
    text-transform: uppercase;
}

/* Projects Summary */
.projects-summary canvas {
    margin: auto;
    display: block;
}

/* Events Browser */
.selected-event {
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid darkgray;
}

.selected-event h3 {
    margin-left: -1em;
}

.selected-event .date {
    font-weight: bold;
}

/* List View */

ul.model-list {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    list-style: none;
    padding: 0;
}

ul.model-list li {
    padding: 0.5em;
    border-top: 1px solid darkgray;
/*     border-top: 1px solid lightgray; */
}

.model-list .list-head {
    background-color: lightgray;
    font-weight: 500;
}

.event-list {
    list-style: none;
    padding: 0;
}

.event-list h4 {
    font-size: medium;
}

#list-view {
    background-color: white;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#list-view.showing {
    display: block;
}

#list-view .list-controls {
    background-color: #eee;
    box-shadow: 0 0 5px 0 darkgray inset;
    padding: 1.5em;
    padding-bottom: 1em;
    text-align: right;
}

.no-results {
    display: none;
}

#list-view.empty .no-results {
    color: #aaa;
    display: block;
    font-size: x-large;
    font-style: italic;
    line-height: 100px;
    padding: 1.5em;
}

#list-view a.document {
    line-height: 2em;
    padding-right: 1em;
    white-space: nowrap;
}

.results-info {
    float: right;
    font-size: small;
    /* position: relative; */
    right: 7em;
    top: -0.5em;
}

.button {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-size: smaller;
    font-weight: 500;
    margin: 0.5em;
    padding: 0.3em;
}

.button:hover {
    border: 1px solid black;
    box-shadow: 0 0 2px black;
    text-decoration: none;
}

.button.sorted {
    background-color: #265E9D;
    color: white;
}

.button.sorted:after {
    content: "\25b4";
}

.button.sorted.desc:after {
    content: "\25be";
}

/*
  Flaticon icon font: Flaticon
  Creation date: 01/04/2016 17:07
*/

@font-face {
  font-family: "Flaticon";
  src: url("./font/Flaticon.eot");
  src: url("./font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./font/Flaticon.woff") format("woff"),
       url("./font/Flaticon.ttf") format("truetype"),
       url("./font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-glx:before { content: "\f100"; }
.flaticon-home:before { content: "\f101"; }
.flaticon-layers:before { content: "\f102"; }
.flaticon-mbta:before { content: "\f103"; }
.flaticon-pin:before { content: "\f104"; }
.flaticon-sheet:before { content: "\f105"; }
.flaticon-show-on-map:before { content: "\f106"; }
.flaticon-sports:before { content: "\f107"; }
.flaticon-transport:before { content: "\f108"; }
.flaticon-wards:before { content: "\f109"; }



.expand-layers:before {
    content: "\f102";
    font-family: Flaticon;
    font-style: normal;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

a.document:before {
    content: "\f105";
    font-family: Flaticon;
    font-style: normal;
    padding-left: 0.2em;
}

/* Responsive */

@media screen and (min-width: 768px) {
    .resp-portrait-show {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .resp-portrait-hide {
        display: none;
    }

    .layer-list {
        height: 3em;
    }

    .layer-button {
        padding-top: 0.5em;
        height: 3em;
        width: 4em;
    }

    .layer-button .layer-icon {
        font-size: xx-large;
    }

    .layer-button .label {
        display: none;
    }

    #info .sidebar {
        display: none;
        padding-right: 0;
        padding-top: 2.5em;
        position: relative;
        width:  auto;
    }

    #info {
        padding-right: 4em;
    }

    #info.expanded .sidebar {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    body.nointro #search-banner {
        text-align: left;
    }

    body.nointro #search-banner .overlay-contents {
        width: 75% !important;
    }

    .details .source-link {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    h3 {
        font-size: smaller;
    }
}

@media screen and (max-width: 1000px) {
    body.nointro #logo {
        background: url(/static/images/cornerwise-owl.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
    }
