body {
    font-family: proxima-nova, "Avenir", sans-serif;
    height: 100%;
    width: 100%;
}

a {
    color: #2D642B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body.main #modal {
    display: none;
}

#data {
    display: none;
}

#map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map {
    width: 100%;
    height: 100%;
}

#minimap-container {
    border: 2px solid black;
    display: none;
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 20;
}

#minimap-container .reset {
    background-color: white;
    border: 1px solid black;
    display: none;
    font-size: x-large;
    position: absolute;
    right: -1px;
    text-align: center;
    top: -1px;
    width: 30px;
    z-index: 2;
}

#minimap {
    height: 10em;
    width: 10em;
}

.empty {
    display: none;
}



#menu {
    position: absolute;
    padding: 0.5em;
    right: 0;
    top: -0.2em;
    text-align: right;
}

span.icon {
    font-size: xx-large;
}

.leaflet-top .leaflet-control {
    margin-top: 80px !important;
}

#logo {
    /* background: url(/static/images/cornerwise-logo.png); */
    background: url(/static/images/cornerwise-beta-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0.5em;
    display: none;
    height: 100px;
    position: absolute;
    top: 0.5em;
    left: 1em;
    width: 200px;
    z-index: 2;
}

#logo img {
    width: 150px;
}

.button {
    background-color: #2D642B;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
}

.button:hover {
    background-color: white;
    box-shadow: 0 0 4px #2b2b2b inset;
    color: #2b2b2b;
    text-decoration: none;
}

.overlay {
    background-color: #2b2b2b;
    color: white;
    overflow: hidden;
}

#search-banner {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 100px;

    transition: top 0.2s linear;
}

h3 {
    padding: 0;
    margin: 0.5em;
}

.overlay-contents {
    color: white;
    display: inline-block;
    font-size: xx-large;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.input-group {
    background-color: white;
    line-height: 1em;
    margin: 0.3em;
    padding: 0.1em;
    position: relative;
}

.input-group .input {
    background-color: transparent;
    border: none;
    font-size: small;
    padding: 0.4em;
    width: 80%;
}

.input-group .status {
    display: none;
    position: absolute;
    right: 0.2em;
    top: 0.2em;
}

body.geolocating #ref-address-form .status {
    display: block;
}

.big-input .input {
    border: none;
    height: 35px;
    font-size: large;
    padding: 0;
}

.overlay .input-group {
    background-color:transparent;
    border: 1px solid white;
}

.overlay .input {
    color: white;
    font-family: "Avenir";
}

.big-input .input-button {
    font-size: x-large;
}

button.big {
    font-size: x-large;
}

.overlay ::-webkit-input-placeholder {
    color: white;
    font-weight: lighter;
}

input:focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.input-button {
    background: none;
    border: none;
    float: right;
    font-variant: small-caps;
    height: 100%;
}

.go-button {
    color: white;
}

#explore {
    color: #4EAF48;
    display: block;
    padding-bottom: 1.2em;
}

#geolocate {
    color: #4EAF48;
}

body.geolocating #geolocate {
    color: lightgray;
    pointer-events: none;
}

body.geolocating #geolocate:hover {
    text-decoration: none;
}

body.geolocating #ref-address-form .go-button {
    display: none;
}

#intro {
    height: 12em;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    transition: height 0.2s linear;
}

.section h3 {
    color: #54C9D3;
    font-family: "Avenir Next Condensed", "Arial Narrow", sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0;
    margin-bottom: 0.2em;
}

.overlay .section {
    float: left;
    padding: 1em;
    width: 30%;
    height: 100%;
}

.section .logos {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.logos img {
    max-height: 40px;
}

.lede h4 {
    font-variant: small-caps;
    font-family: "Avenir Next Condensed", "Arial Narrow", sans-serif;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.2em;
    width: 50%;
}

.section .more {
    text-align: right;
}

#subscribe {

    top: 2em;
}

#signup {
    text-align: center;
    line-height: 5em;
}

#controls {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 0;

    transition: height 0.2s linear;
}

body.main #explore {
    display: none;
}

body.main #data,
body.main #preview,
body.main #minimap-container,
body.main #logo {
    display: block;
}

body.main #intro {
    height: 0;
}


body.main #search-banner {
    top: 0;
}

body.main #search-banner h3 {
    display: none;
}

body.main #controls {
/*     height: 7em; */
}

.overlay-contents {
    transition: padding 0.2s linear;
}

body.main #search-banner .overlay-contents {
    padding: 0;
    margin-left: 0;
    width: 50%;

    transition: width 0.2s linear;
}

a.filter-button {
    background-color: white;
    border-radius: 5px;
    box-shadow: -2px 2px 5px black;
    color:black;
    display: inline-block;
    margin: 0 0.5em;
    padding: 5px;
    text-align: center;
    width: 5em;
}

.zoomed-proposal-marker {
    background-color: #eee;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -2px 2px 4px darkgray;
    line-height: 75px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
}

.zoomed-proposal-marker:hover {
    background-color: white;
}

.zoomed-proposal-marker img {
    max-height: 100%;
    max-width: 100% !important;
}


#data.collapsed {
    width: 0;
}

#data.collapsed:hover {
    width: 0.5em;
}

#data.collapsed .tabs, #data.collapsed .tabs-pane {
    display: none;
}

.proposal-selected {
    background-color: #4FB8F7 !important;
    margin-left: 20px;
}

.proposal-info .subtitle {
    font-size: smaller;
}

.proposal-info .case {
    color: crimson;
    padding-left: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: small;
}

.proposal-info .distance {
    color: #555;
    float: right;
    font-size: small;
}

#data-controls {
    background-color: white;
    border: 1px solid black;
    border-right: none;
    left: -4.5em;
    padding: 0.5em;
    position: absolute;
    width: 3.5em;
    top: 1em;
}

#data.collapsed #data-controls {
    left: -6em;
    width: 5em;
}

#expand-data {
    display: none;
}

#data.collapsed #collapse-data {
    display: none;
}

#data.collapsed #expand-data {
    display: block;
}

#data {
    background-color: #ffffff;
    border: 1px solid black;
    height: 60%;
    padding: 0.5em;
    position: absolute;
    top: 15%;
    right: 0;
    width: 35%;

    transition: width 0.2s ease-in;
}

#data .tabs {
    position: absolute;
    top: -22px;
    width: 250px;
}

.tabs a {
    background-color: #f9f9f9;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    color:black;
    font-weight: bold;
    padding-top: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.tabs a.selected {
    background-color: white;
    border-bottom: none;
}

#data .tab-pane {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.pane {
    display: none;
}

.pane.showing {
    display: block;
}

#data .toggler {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    color: black;
    left: -70px;
    padding: 5px;
    position: relative;
    transform: rotate(90deg);
}

.info-item {
    cursor: pointer;
    height: 80px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
}

.project:hover {
    background-color: aliceblue;
}

.info-item:nth-child(odd) {
    background-color: aliceblue;
}

.info-item .icon {
    float: left;
    margin-right: 5px;
    overflow: hidden;
    height: 100%;
    width: 60px;
}

.info-item .icon img {
    height: 60%
}

.info-item .name {
    font-weight: 500;
    overflow: hidden;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
}

.department {
    font-size: small;
    font-style: italic;
    padding-top: 0.1em;
}

.project .category {
    padding-left: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.category img {
    width: 20px;
    height: 20px;
}

.project .budget {
    position: absolute;
    bottom: 11px;
    right: 5px;
    font-size: medium;
}

.project .status {
    color: goldenrod;
    font-size: small;
}

.status.approved {
    color: green;
}

.collapsed .when-expanded {
    display: none !important;
}

.expanded .when-collapsed {
    display: none !important;
}

.budget-chart {

}

.budget-point {
    fill: red;
}

.budget-line {
    stroke: navy;
}

.chart-x-tick {
    stroke: black;
}

.chart-label {
    font-size: small;
    font-weight: bold;

}

#layers {
    background-color: white;
    border: 1px solid black;
    padding: 0.5em;
    position: absolute;
    left: 0;
    top: 15%;
    width: 17em;
    transition: left 0.2s ease-out;
}

#layers .controls {
    background-color: white;
    border: 1px solid black;
    border-left: none;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}


#layers ._expand, #layers ._collapse {
    display: inline-block;
    height: 35px;
    width: 35px;
}

#layers ._expand {
    background: no-repeat center/80% url(/static/images/layers.png);
}

#layers ._collapse {
    background: no-repeat center/80%  url(/static/images/close.png);
}

#layers.collapsed {
    left: -18em;
}

#layers .controls {
    position: absolute;
    left: 18em;
    width:  30px;
    height:  30px;
}

#layers ul {
    list-style: none;
    padding-left: 1em;
}

a.color {
    border: 1px solid darkgray;
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
}

a.layer-info {
    background-color: navy;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: small;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    width: 15px;

    position: relative;
}

a.layer-info .info {
    background-color: white;
    color: black;
    font-style: normal;
    font-weight: 100;
    display: none;
    text-align: justify;
    top: 0;
    left: 15px;
    padding: 0.5em;
    width: 15em;
    position: absolute;
}

a.layer-info:focus .info,
a.layer-info:hover .info {
    display: block;
}

#preview {
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    position: absolute;
    width: 20em;
    padding: 1em;
    bottom: 2%;
}

a.glossary {
    border-bottom: 1px dashed crimson;
    color: black;
    cursor: help;
    position: relative;
}

a.glossary:hover {
    border-bottom: 1px dashed black;
    text-decoration: none;
}

.definition .term {
    font-weight: 500;
}

.definition, .layer-info .info {
    background-color: white;
    border: 2px solid green;
    border-radius: 5px;
    font-weight: 100;
    padding: 0.5em;
}

.definition {
    
    bottom: 0;
    left: 110%;
    position: absolute;
    width: 150px;
    z-index: 2;
}

#preview {
    padding-bottom: 2em;
}

#preview h3 {
    font-weight: 500;
    margin-left: 0;
}

#preview .case-number {
    color: #EE6C43;
    font-size: smaller;
}

#preview .more {
    color: forestgreen;
    float: right;
}

#preview .calendar {
    display: none;
    bottom: 1em;
}

#preview .calendar img {
    max-height: 40px;
    max-width: 40px;
}

#preview img {
    max-width: 100px;
    float: left;
    margin-right: 0.5em;
}

#preview .controls {
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

.applicant-name {
    font-size: small;
    font-style: italic;
    font-weight: bold;
}

.legal-notice {
    font-size: small;
}

.proposal-info > * {
    padding: 0.2em;
}

.project.selected,
tr.proposal-selected, tr.proposal-hovered {
    background-color: #4FB8F7 !important;
    color: white;
}

.permit-name {
    font-weight: bold;
}

.permit-desc {
    font-size: smaller;
}

.permit-info .distance {
    font-style: italic;
}

.permit-details {
    padding: 2px;
    postion: absolute;
    right: 5px;
    top: 5px;
}

#overlay, .modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

#overlay .minimap {
    float: left;
    height: 90px;
    width: 110px;
    margin-right: 10px;
    position: relative;
    margin-top: -20px;
}

.details .close {
    font-size: small;
    float: right;
}

.details, #modal-contents {
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-right: 35%;
    margin-left: 5%;
    padding: 15px;
    margin-top: 3.5rem;
    width: 50%;
}

.modal-container.showing {
    display: block;
}

.details h4 {
  margin-bottom: 0.1em;
}

.details .case-number {
  color: green;
  font-style: italic;
  text-align: right;
}

.attribute th {
    text-align: left;
    vertical-align: top;
}

.details .section {
  border-top: 2px solid lightgray;
  margin-top: 10px;
  padding-top: 10px;
  position: relative;
}

.section-title {
    background-color: rgba(255, 255, 255, 0.75);
    color: gray;
    font-variant: small-caps;
    padding: 0.2em;
    position: absolute;
    right: 0;
    top: 0;
}

.details .document {
    display: inline-block;
    width: 25%;
    padding: 3px;
    text-align: center;
}

.details.document:hover {
    border: 1px solid #aaa;
    border-radius: 3px;
}

.document .thumb {
    box-shadow: -1px 1px 2px black;
    height: 75px;
    margin: 3px;
    transition: transform 0.05s linear;
}

.document .dummy-thumb {
    background-color: white;
    border-radius: 3px;
    color: lightgray;
    display: inline-block;
    font-size: x-large;
    font-variant: small-caps;
    line-height: 75px;
    text-align: center;
    width: 60px;
}

.document:hover .thumb {
    transform: scale(1.5);
    transform-origin: 50% 100%;
    -webkit-transform: scale(1.4);
    -webkit-transform-origin: 50% 100%;
}

.images .thumb {
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
    padding-bottom: 5px;
}



@media screen and (min-width: 768px) {
    .resp-portrait-show {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .resp-portrait-hide {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #logo {
        background: url(/static/images/cornerwise-owl.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 80%;
        width: 50px;
    }
}

#alert-container {
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
}

#alert {
    background-color: rgba(240,108,73,0.5);
    border: 2px solid #ee6c49;
    display: inline-block;
    padding: 0.5em;
    position: relative;
    top: -10px;

    transition: top 0.2s ease-out;
}

#alert.displayed {
    top: 0;
}

body.main #alert.displayed {
    top: 75px;
}
