:root {
    --active-proposal-bg: radial-gradient( #e2a192, #ff7c55);
    --proposal-bg: radial-gradient( #e2a192, #ff5a29);
/*     --proposal-bg: radial-gradient(50% 0%, #727272 50%, #868686 100%); */
    --proposal-approved-bg: radial-gradient(50% 39%, #197409 50%, #239F0E 100%);
    --active-proposal-approved-bg: radial-gradient(50% 39%, #197409 50%, #239F0E 100%);
    --proposal-denied-bg: radial-gradient(50% 39%, #991509 50%, #B01A0C 85%);
    --active-proposal-denied-bg: radial-gradient(50% 39%, #991509 50%, #B01A0C 85%);

    --action-color: #3c7c3d;
    --active-action-color: #7fc87a;
}

body {
    font-family: proxima-nova, "Avenir", Arial, sans-serif;
    height: 100%;
    width: 100%;
    overflow:  hidden;
}

#wrapper {
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

#wrapper.js-enabled {
    display: block;
}

a {
    color: #2D642B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
}

h3 {
    font-weight: 100;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

#event-eater {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body.nointro #event-eater {
    display: none;
}

#data {
    display: none;
}

#map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#map {
    width: 100%;
    height: 100%;
}

#loading-indicator {
    display: none;
    padding: 0.75em;
    top: 20px;
    right: 1em;
    z-index: 10;
}

body.nointro #loading-indicator {
    top: 100px;
}

body.loading-proposals #loading-indicator {
    display: block;
}

.control {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid white;
    color: #2A749B;
    position: absolute;
}

.control a {
    border: 1px solid white;
    color: #2A749B;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#map-controls.control a {
    font-size: x-large;
    display: block;
}

#site-message {
    color: black;
    font-size: smaller;
    position: absolute;
    left: 1em;
    bottom: 1em;
}

.site-message .last-updated {
    font-style: italic;
}

.control a:hover {
    background-color: #2A749B;
    color: white !important;
    text-decoration: none;
}

#map-controls {
    right: 1em;

    transition: bottom 0.1s linear;
}

#map-controls a.disabled {
    color: #aaa;
    cursor: default;
    pointer-events: none;
}

body:not(.nointro) #map-controls {
    display: none;
}

#parcel-info {
    font-size: small;
    left: 1em;
    bottom: 4.5em;
    opacity: 0;
    padding: 0.5em;

    transition: opacity 0.2s linear;
}

#parcel-info.show {
    opacity: 1;
}

#info-menu {
    display: none;
}

body.main #info-menu {
    bottom: 1.5em;
    right: 4em;
    display: block;
    position: absolute;

    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid white;
}

#info-menu a {
    font-size: larger;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: #2A749B;
    margin: 0;
}

#info-menu a:hover {
    background-color: #2A749B;
    color: white !important;
    text-decoration: none;
}

button.inline {
    background-color: white;
    border-radius: 0;
    color: #2A749B;
    font-size: 10pt;
}

.empty {
    display: none;
}

.when-empty {
    display: none;
}

.empty .when-empty {
    display: block;
}

#menu {
    position: absolute;
    padding: 0.5em;
    right: 0;
    top: -0.2em;
    text-align: right;
}

span.icon {
    font-size: xx-large;
}

.leaflet-control-container {
    display: none;
}

.leaflet-top .leaflet-control {
    margin-top: 150px !important;
}

#logo {
    background: url(../images/cornerwise-logo.png);
    background-color: #222;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #222;
    position: absolute;
    top: -60px;
    left: 0em;
    right: 0;
    height: 50px;
    z-index: 2;
    transition: width 0.2s linear, top 0.2s linear, left 0.2s linear;
}

#logo .logo-text {
    color: #c03233;
    font-size: small;
    text-transform: uppercase;
    position: relative;
    right: -2em;
    top: 2em;
    text-align: right;
}

body.nointro #logo .logo-text {
    position: relative;
    top: 1.6em;
}

.overlay {
    background-color: rgba(43, 43, 43, 1);
    color: white;
    overflow: hidden;
}

#search-banner {
    background-color: rgba(57, 127, 52, 0.9);
    overflow: visible;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 100px;
    z-index: 2;
    transition: top 0.2s linear, background-color 0.2s linear;
}

#user-controls {
    float: right;
}

h3 {
    padding: 0;
    margin: 0.5em;
}

.overlay-contents {
    color: white;
    display: inline-block;
    font-size: xx-large;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.input-group {
    border: 1px solid white;
    line-height: 1em;
    margin: 0.3em;
    padding: 0.1em;
    position: relative;
    text-align: left;
}

.input-group label {
    border-right: 1px solid rgba(255,255,255,0.5);
    font-weight: bold;
    padding-right: 0.5em;
}

.input-group label + .input {
    width: 50%
}

.input-group .input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: small;
    flex: 1;
    padding: 0.4em;
    width: 97%;
}

/* Don't show focus: */
.input-group .input:focus {
    outline: none;
}

.input-group .input::-moz-focus-inner {
    border: 0;
}


.input-group .status {
    background-color: rgba(43, 43, 43, 0.98);
    display: none;
    position: absolute;
    right: 0.2em;
    top: 0.2em;
}

.form-error {
    color: crimson;
    font-size: small;
}

.form-field-error {
    float: right;
}

.input-group.error input, 
.input-group.error textarea,
.input-group.error select {
    border-color: crimson;
}

body.geolocating #ref-address-form .status {
    display: block;
}

.big-input .input {
    border: none;
    height: 35px;
    font-size: large;
    padding: 0;
    padding-left: 0.5em;
}

.overlay .input-group {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(180,180,180,1);
}

.overlay .input {
    color: white;
    font-family: proxima-nova, "Avenir", Arial, sans-serif;
}

.guess {
    font-style: italic;
}

.big-input .input-button {
    font-size: x-large;
}

button.big, a.big {
    font-size: large;
    font-weight: 100;
    letter-spacing: 0.5px;
}

button.big-submit, a.big-submit {
    background-color: var(--action-color);
    border: none;
    color: white;
    margin-top: 1.5em;
    padding: 0.75em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    display: inline-block;
}

.overlay ::-webkit-input-placeholder {
    color: white;
    font-style: italic;
    font-weight: lighter;
}

input:focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.input-button {
    background: none;
    border: none;
    float: right;
    font-variant: small-caps;
    height: 100%;

/* Keep GO button on the right */
    width: 0;
    direction: rtl;
}

.go-button {
    color: white;
}

#explore {
    color: black;
    display: block;
    text-decoration: underline;
    padding-bottom: 1.2em;
}

#geolocate {
    background: url(../images/geolocate-button.png) no-repeat;
    display: none;
    background-color: rgb(43, 43, 43);
    background-position: 0.5em 50%;
    border: 1px solid white;
    color: white;
    font-size: medium;
    padding: 0.5em;
    padding-left: 2.5em;
    position: absolute;
    text-decoration: none;
    left: 0.5em;
    right: 0.5em;
    width: auto;
    top: 100%;
    z-index: 10000;
}

#geolocate:hover {
    display: block;
}

#geolocate span {
    display: inline;
}

/* Display the Current Location option when the input is focused */
#geolocate:hover, input:focus ~ #geolocate {
    display: block !important;
}

#geolocate:hover {
    background-color: rgba(100, 100, 100, 1);
}

body.geolocating #geolocate {
    color: lightgray;
    pointer-events: none;
}

body.geolocating #geolocate:hover {
    text-decoration: none;
}

body.geolocating #ref-address-form .go-button {
    display: none;
}

.filters-button {
    display: none;

    background-color: rgba(43, 43, 43, 1);
    border-left: 1px solid white;
    border-radius: 0 5px 5px 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    font-size: medium;
    color: white;
}

.filters-button:hover {
    background-color: white;
    color: rgba(43, 43, 43, 1);
    text-decoration: none;
}

#show-filters-button::after {
    content: "\25be";
}

#hide-filters-button::after {
    content: "\25b2";
}

#ref-address-form .cancel {
    display: none;
}

#intro {
    height: 5em;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: height 0.2s linear;
}

.section h3 {
    color: #397F34;
    font-family: "Avenir Next Condensed", "Arial Narrow", sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0;
    margin-bottom: 0.2em;
}

.overlay .section {
    float: left;
    padding: 1em;
    width: 30%;
    height: 100%;
}

.section .logos {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.logos img {
    max-height: 40px;
}

.lede h4 {
    font-variant: small-caps;
    font-family: "Avenir Next Condensed", "Arial Narrow", sans-serif;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.2em;
    width: 50%;
}

.section .more {
    text-align: right;
}


body.nointro #explore {
    display: none;
}


body.nointro #logo {
    background-color: transparent;
    border: none;
    left: 1em;
    top: 0.75em;
    width: 150px;
}

body.nointro #intro {
    height: 0;
}

body.nointro #search-banner {
    background-color: rgba(43, 43, 43, 0.98);
    top: 0;
}

body.nointro #search-banner h3 {
    display: none;
}


.overlay-contents {
    transition: padding 0.2s linear;
}

body.nointro #search-banner .overlay-contents {
    padding: 0;
    margin-left: 0;
    width: 50%;

    transition: width 0.2s linear;
}

.filters .filter-group {
    display: inline-block;
    margin-right: 1em;

}

.filters .input-group {
    width: 250px;
}

.toggle-filters {
    background-color: #2A749B;
    color: white;
    font-size: small;
    padding: 0.5em;
    padding-top: 0.5em;
    position: relative;
    top: 0.5em;
    left: 2em;
}

#mode-controls {
    display: none;
}

body.nointro #mode-controls {
    display: block;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
}

.mode {
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin: 0.5em;
    padding-top: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
}

body.main .map-mode-button, body.list .list-mode-button {
  background-color: #F06037;
  cursor: default;
  pointer-events: none;
}

.action {
    background-color: var(--action-color);
}

.action:hover {
    background-color: var(--active-action-color);
    text-decoration: none;
}

div.proposal-marker {
    background-color: #ef6f49;
    background: center / 70% no-repeat url(/static/images/pending.png),
                var(--proposal-bg);
    border: 4px solid white;
    border-radius: 18px;
    height: 30px;
    width: 30px;
    text-align: center;
}

div.marker-selected, div.marker-hovered {
    background: --active-proposal-bg;
    border-color: #4fb8f7;
}

div.proposal-complete.proposal-denied {
    background-color: #991509;
    background: center / 60% no-repeat url(/static/images/denied.png),
                var(--proposal-denied-bg);
}

div.proposal-complete.proposal-approved {
    background-color: #197409;
    background: center / 60% no-repeat url(/static/images/approved.png),
                var(--proposal-approved-bg);
}

div.proposal-complete.proposal-approved.marker-hovered,
div.proposal-complete.proposal-approved.marker-selected
{
    background: center / 60% no-repeat url(/static/images/approved.png),
                var(--active-proposal-approved-bg);
}

div.proposal-complete.proposal-denied.marker-hovered,
div.proposal-complete.proposal-denied.marker-selected
{
    background: center / 60% no-repeat url(/static/images/denied.png.png),
                var(--active-proposal-denied-bg);
}

div.leaflet-marker.zoomed-proposal-marker {
    background-image: none;
}

div.zoomed-proposal-marker.marker-selected {
    background-color: white;
    background-image: none !important;
    border-color: #EE6C43;
}

img.project-type-badge {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    right: 5px;
    top: 4px;
}

.zoomed-proposal-marker {
    background-color: #eee;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -2px 2px 4px darkgray;
    line-height: 75px;
    padding: 5px;
    text-align: center;
}

.zoomed-proposal-marker:hover {
    background-color: white;
}

.zoomed-proposal-marker img.thumb {
    max-height: 100%;
    max-width: 100% !important;
}

.zoomed-proposal-marker .proposal-marker {
    position: absolute;
    z-index: 5;
    right: -0.5em;
    top: -0.5em;
}

.proposal-selected {
    background-color: aliceblue !important;
}

.proposal-info .subtitle {
    font-size: smaller;
}

.proposal-info .distance {
    color: #555;
    display: inline-block;
    font-size: small;
}

.updated {
    font-weight: 500;
}

.ref-loc {
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 0.1em;
    padding: 0.1em;
}

.info-item .case {
    color: maroon;
    display: inline-block;
    font-size: small;
}

.info-item:first-child {
    padding-top: 2em;
}

.info-item {
    border-bottom: 2px solid lightgray;
    padding: 3em;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 0.5em;
    position: relative;
}

.info-item .thumbnail {
    float: right;
    margin-left: 2em;
    margin-right: 1em;
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 200px;
    text-align: center;
}

.thumbnail img {
    max-height: 100%;
    max-width: 100%;
}

.thumbnail a.show-on-map {
    background-color: white;
    background-image: url(../images/icon/youarehere.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;
    box-shadow: 0 0 3px black;
    display: block;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    height: 30px;
    width: 30px;
}

.info-item .name {
    color: #4EAF48;
    font-size: larger;
    font-weight: 500;
    overflow: hidden;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-name {
    font-style:italic;
}

.source-link {
    color: darkgray !important;
    font-size: small;
}

.details .source-link {
    float: right;
    margin-right: 5em;
}

.info-item .dates {
    color: crimson;
    float: right;
    font-size: small;
}

.department {
    font-size: small;
    font-style: italic;
    padding-top: 0.1em;
}

.project .category {
    padding-left: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.category img {
    width: 20px;
    height: 20px;
}

.project .budget {
    position: absolute;
    bottom: 11px;
    right: 5px;
    font-size: medium;
}

.project .status {
    color: goldenrod;
    font-size: small;
}

.status.approved {
    color: green;
}

.collapsed .when-expanded {
    display: none !important;
}

.expanded .when-collapsed {
    display: none !important;
}

a.color {
    border: 1px solid darkgray;
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
}

a.layer-info {
    background-color: steelblue;
    border-radius: 10px;
    color: white;
    cursor: help;
    display: inline-block;
    font-size: smaller;
    font-style: italic;
    font-weight: bold;
    margin-left: 5px;
    text-align: center;
    width: 15px;

    position: relative;
}

a.layer-info .info {
    background-color: white;
    color: black;
    font-style: normal;
    font-weight: 100;
    display: none;
    text-align: justify;
    top: 0;
    left: 15px;
    padding: 0.5em;
    width: 15em;
    position: absolute;
}

a.layer-info:focus, a.layer-info:hover {
    z-index: 3;
}

a.layer-info:focus .info,
a.layer-info:hover .info {
    display: block;
}

#preview {
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    position: absolute;
    width: 20em;
    padding: 1em;
    bottom: 2%;
}

a.glossary {
    border-bottom: 1px solid orange;
    cursor: help;
    position: relative;
}

a.glossary:hover {
    border-bottom-color: transparent;
    text-decoration: none;
}

.definition .term {
    font-weight: 500;
}

.definition, .layer-info .info {
    background-color: white;
    border: 2px solid green;
    border-radius: 5px;
    font-weight: 100;
    padding: 0.5em;
}

.definition {
    bottom: 0;
    color: black;
    left: 110%;
    position: absolute;
    width: 15em;
    z-index: 4;
}

#preview {
    padding-bottom: 2em;
}

#preview h3 {
    font-weight: 500;
    margin-left: 0;
}

#preview .case-number {
    color: #EE6C43;
    font-size: smaller;
}

#preview .more {
    color: forestgreen;
    float: right;
}

#preview .calendar {
    display: none;
    bottom: 1em;
}

#preview .calendar img {
    max-height: 40px;
    max-width: 40px;
}

#preview img {
    max-width: 100px;
    float: left;
    margin-right: 0.5em;
}

#preview .controls {
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

.applicant-name {
    font-size: small;
    font-style: italic;
    font-weight: bold;
}

.legal-notice {
    margin-bottom: 1em;
}

.missing {
    color: #aaa;
    font-style: italic;
}

.proposal-info > * {
    padding: 0.2em;
}

.planning {
    margin-left: -10px;
    margin-top: 7px;
}

#overlay, #modal {
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    /* z-index: 3; */
}

#overlay .minimap {
    float: left;
    height: 90px;
    width: 110px;
    margin-right: 10px;
    position: relative;
    margin-top: -20px;
}

#modal-contents .close {
    font-size: small;
    float: right;
}

#modal-contents {
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 15px;
    margin-top: 4rem;
}

#modal-contents {
    height: 90%;
    margin-left: 15%;
    margin-right: 15%;
}

#modal-contents footer {
    font-size: smaller;
    margin-top: 2em;
}

#modal.showing {
    display: block;
}

#info {
    display: none;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
    height: 0;
    transition: max-height 0.2s linear;
}

.loading-message {
    color: rgba(255, 255, 255, 0.4);
    display: none;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
}

#info.loading .loading-message {
    display: block;
}

body.main #info {
    height: auto;
    overflow: visible;
    opacity: 1;
    padding-bottom: 2em;
    z-index: 2;
}

body.info #search-banner {
    display: none;
}


body.info #loading-indicator {
    background-color: transparent;
    border: none;
    right: 4em;
    top: 1em;
}

#info.displayed {
    display: block;
    display: flex;
    top: 0;
    height: auto;
    bottom: 0;
    overflow: auto;
    z-index: 3;
}

#info .chart-area {
    text-align: center;
}

#info .budget-chart {
    background-color: white;
    display: inline-block;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.brief-model {
    display: inline-block;
    font-size: smaller;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10em;
}

a.brief-model:hover {
    color: #54C9D3 !important;
    text-decoration: none;
}

#info .close, #image-view .close {
    color: white;
    font-size: 30pt;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 20px;
    z-index: 5;
}

#info .close:hover, #image-view .close:hover {
    color: #4EAF48;
    text-decoration: none;
}

#info a {
    color: white;
}

#info a .definition {
    color: black;
}

#info {
    flex-direction: column;
    padding-right: 310px;
}

#info .content {
    display: flex;
    flex: 1;
    flex-grow: 1;
}

#info .decision {
    margin-bottom: 1em;
    padding-left: 1em;
}

.approved {
    color: var(--action-color);
    font-weight: bold;
}

#info .sidebar {
    padding-right: 3em;
    padding-top: 4em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 250px;
}

.sidebar .table {
    margin: auto;
}

#info .images {
    flex-grow: 1;
}

#info .footnotes {
    color: goldenrod;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    font-style: italic;
    opacity: 0.7;
    margin-top: 1em;
}

.main-thumb-container {
    text-align: center;
    margin-bottom: 0.5em;
}

#info .main-thumb {
    max-height: 150px;
    max-width: 200px;
}

.details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: min-content;
    overflow: auto;
}

.details::-webkit-scrollbar {
    display: block;
}

.details h4 {
    font-size: x-large;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0.3em;
}

.details h5 {
    color: #bbb;
    font-size: large;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#info .document, #info .event {
    color: #4EAF48;
    display: block;
    line-height: 1.5em;
    padding-left: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#info .attribute,
.document-group-name {
    color: #ccc;
    font-size: small;
    font-weight: 500;
    padding-top: 0.5em;
    text-align: left;
    text-transform: uppercase;
    vertical-align: top;
}

a.thumb-link {
    border: 1px solid #777;
    border-radius: 5px;
    float: left;
    margin: 0.2em;
    padding: 0.2em;
    height: 80px;
    width: 80px;
    text-align: center;
    transition: border-color 0.1s linear;
    display: flex;
    justify-content: center;
    align-content: center;
}

a.thumb-link:hover {
    border: 1px solid goldenrod;
}

.images .thumb {
    max-height: 80px;
    max-width: 80px;
}

/* Leaflet info popup */
.leaflet-container {
    font-family: proxima-nova, "Avenir", Arial, sans-serif;
}

.proposal-info-popup .leaflet-popup {
    width: 200px !important;
}

.proposal-info-popup .leaflet-popup-close-button {
    font-size: x-large !important;
    font-weight: lighter !important;
    right: 5px !important;
    top: 5px !important;
}

.proposal-info-popup .leaflet-popup-tip,
.proposal-info-popup .leaflet-popup-content-wrapper,
.subscribe-popup .leaflet-popup-tip,
.subscribe-popup .leaflet-popup-content-wrapper
{
    background-color: rgba(0, 0, 0, 0.7);
}

.proposal-info-popup .leaflet-popup-content-wrapper {
    border-radius: 0;
    color: white;
    font-size: larger
}

.proposal-info-popup a {
    color: #4EB04B;
}

.proposal-info-popup .more {display: inline-block;text-align: right;width: 100%;}

.leaflet-popup h4,
.leaflet-popup h5 {
    color: #4EB04B;
    margin: 0.1em;
}

.leaflet-popup h4 {
    font-size: x-large;
}

.leaflet-popup h5 {
    font-size: larger;
    margin-bottom: 0.5em;
}

.proposal-badge {
    background: center / 60% no-repeat url(/static/images/pending.png);

    height: 30px;
    width: 30px;
    position: absolute;
    right: 35px;;
    top: 5px;
}

.proposal-badge.proposal-denied {
    background: center / 60% no-repeat url(/static/images/denied.png);
}

.proposal-badge.proposal-approved {
    background: center / 60% no-repeat url(/static/images/approved.png);
}

.proposal-info-popup .main-thumb-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.proposal-info-popup img.main-thumb {
    align-self: center;
    max-width: 100% !important;
}

.proposal-info-popup .description {
    line-height: 1.5em;
    max-height: 7.5em;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

#alert-container {
    position: absolute;
    bottom: -100px;
    width: 100%;
}

.nointro #alert-container {
    /* The alert container is positioned relative to the search bar */
    top: 70px;
    height: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    margin-top: -1px;
    width: 100%;
    z-index: 2;
}

#alert {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    display: flex;
    margin: auto;
    opacity: 0;
    padding: 1em;
    pointer-events: none;
    width: 50%;
    transition: opacity 0.2s ease-out;
}

#alert .close {
    color: black;
    font-size: xx-large;
    flex: 0 0 1em;
    justify-content: center;
}

#alert .close:hover {
    text-decoration: none;
}

#alert.displayed {
    opacity: 1;
    pointer-events: auto;
}

#alert.info {
    border: 2px solid #888;
}

#alert.instructions .close {
    color: white;
}

#alert.instructions {
    background-color: rgba(220, 220, 220, 0.8);
}

#alert.success {
    background-color: #dfefde;
    border: 2px solid #397f34;
}

#alert.error, #alert.danger {
    border: 2px solid crimson;
    background-color: #f9d7dd;
}

#alert.notice {
    border: 2px solid #be8300;
    background-color: #e8dab6;
}

#alert .content-wrapper {
    flex: 1;
    align-self: center;
}

#alert .title {
    display: none;
    font-size: x-large;
    margin: 0;
}

.title.displayed + .content.displayed {
    margin-top: 0.3em;
}

#alert .content {
    display: none;
    font-size: medium;
    text-align: left;
}

#alert .title.displayed, #alert .content.displayed {
    display: block;
}

#alert.modal .close {
    display: none;
}

body.main .leaflet-control-container {
    display: block;
}

.layer-button {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    display: inline-block;
    padding-top: 1em;
    position: relative;
    text-align: center;
    height: 6em;
    width: 8em;
}

.layer-button.loading {
    background-color: #2A749B;
}

.layer-button:hover, .layer-button.selected {
    background-color: #2A749B;
    color: white !important;
    text-decoration: none;
}

.layer-button:hover .layer-icon,
.layer-button:hover .label {
    color: white;
}

.layer-button .layer-icon {
    font-size: 36pt;
    text-align: center;
}

.layer-button .label {
    font-size: small;
    font-weight: 500;
    text-transform: uppercase;
}

/* Projects Summary */
.projects-summary canvas {
    margin: auto;
    display: block;
}

.layer-info-popup {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #2A749B;
    border-radius: 4px;
    font-size: smaller;
    margin-bottom: 10px;
    padding: 0.5em;
    position: absolute;
    width: 200px;
}

/* Events Browser */
.selected-event {
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid darkgray;
}

.selected-event h3 {
    margin-left: -1em;
}

.selected-event .date {
    font-weight: bold;
}

/* List View */

ul.model-list {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    list-style: none;
    padding: 0;
}

ul.model-list li {
    padding: 0.5em;
    border-top: 1px solid darkgray;
/*     border-top: 1px solid lightgray; */
}

.model-list .list-head {
    background-color: lightgray;
    font-weight: 500;
}

.event-list {
    list-style: none;
    padding: 0;
}

.event-list h4 {
    font-size: medium;
}

#list-view {
    background-color: white;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#list-view.showing {
    display: block;
}

#list-view .list-controls {
    background-color: #eee;
    box-shadow: 0 0 5px 0 darkgray inset;
    padding: 1.5em;
    padding-bottom: 1em;
    text-align: left;
}

.no-results {
    display: none;
}

#list-view.empty .no-results {
    color: #aaa;
    display: block;
    font-size: x-large;
    font-style: italic;
    line-height: 100px;
    padding: 1.5em;
}

#list-view a.event + a.event:before {
    content: "• ";
}

#list-view .documents {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

#list-view a.document {
    line-height: 2em;
    padding-right: 1em;
    white-space: nowrap;
}

.results-info {
    float: right;
    font-size: small;
    /* position: relative; */
    right: 7em;
    top: -0.5em;
}

th {
    padding-right: 5px;
    text-align: left;
}

#list-view .attribute th {
    color: #555;
    font-weight: normal;
    font-size: smaller;
    padding-top: 3px;
    text-transform:uppercase;
    vertical-align: top;
}

.button {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-size: smaller;
    font-weight: 500;
    margin: 0.5em;
    padding: 0.3em;
}

.button:hover {
    border: 1px solid black;
    box-shadow: 0 0 2px black;
    text-decoration: none;
}

.button.sorted {
    background-color: #265E9D;
    color: white;
}

.button.sorted:after {
    content: "\25b4";
}

.button.sorted.desc:after {
    content: "\25be";
}

#list-view .more {
    display: block;
    font-size: small;
}


#image-view {
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    text-align: center;
    padding-top: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
}

#image-view.displayed {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-zoom-container {
    display: flex;
    height: 100%;
}

#image-view > div {
    display: inline-block;
    flex: 1;
    align-items: center;
}

#image-view img {
    align-self: center;
    max-height: 100%;
    max-width: 100%;
}

/*
  Flaticon icon font: Flaticon
  Creation date: 01/04/2016 17:07
*/

@font-face {
  font-family: "Flaticon";
  src: url("./font/Flaticon.eot");
  src: url("./font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./font/Flaticon.woff") format("woff"),
       url("./font/Flaticon.ttf") format("truetype"),
       url("./font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-glx:before { content: "\f100"; }
.flaticon-home:before { content: "\f101"; }
.flaticon-layers:before { content: "\f102"; }
.flaticon-mbta:before { content: "\f103"; }
.flaticon-pin:before { content: "\f104"; }
.flaticon-sheet:before { content: "\f105"; }
.flaticon-show-on-map:before { content: "\f106"; }
.flaticon-sports:before { content: "\f107"; }
.flaticon-transport:before { content: "\f108"; }
.flaticon-wards:before { content: "\f109"; }



.expand-layers:before {
    content: "\f102";
    font-family: Flaticon;
    font-style: normal;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

a.document:before {
    content: "\f105";
}

a.document:before, a.event:before {
    font-family: Flaticon;
    font-style: normal;
    padding-left: 0.2em;
    padding-right: 0.3em;
}

a.event:before {
    /* content: "\1f4c5"; */
}

#side-menu {
    box-shadow: 0 2px 3px rgba(180,180,180,1);
    padding: 3em;
    padding-top: 3em;
    position: absolute;
    background-color: white;
    width: 20em;
    max-width: 75%;
    z-index: 2;
    transition: right 0.2s ease-out;
    display: none;
}


body.nointro #side-menu.expanded {
    display: block;
}

#side-menu .close {
    font-size: xx-large;
    position: absolute;
    top: 0em;
    left: 0.5em;
    color: var(--action-color);
}

.group-header {
    font-weight: bold;
}

input.big, select {
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

input.big {
    width: 97%;
}

select {
    background-color: transparent;
    background: url(../images/down-arrow.png) right / contain no-repeat;
    border-radius: 0;
    color: var(--action-color);
    display: block;
    appearance: none;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select:invalid {
    color: #bbb;
    font-style: italic;
    font-weight: lighter;
}

label.select {
    color: #777;
    font-size: small;
    font-weight: 500;
    text-transform: uppercase;
}

textarea {
    width: 100%;
}

.selector-name {
    font-style: italic;
    color: gray;
}

#filter-text {
    font-size: larger;
    width: 100%;
}

/* Subscription workflow

 .subscribe-mode - applied to body for all selection methods

 .choosing-bounds - applied when the user is selecting a region of the mqp to
 receive updates about.

 .choosing-radius - applied when the user is selecting a circle around a
 specified point.

*/
body.choosing-bounds #map-container {
    border: 3px solid #FF6005;
}

body.subscribe-mode .proposal-info-popup
{
    display: none !important;
}

body.subscribe-mode #alert-container {
    margin-top: 0;
}

body.choosing-bounds #search-banner .overlay-contents,
body.subscribe-mode #hamburger,
body.subscribe-mode .leaflet-marker-icon
{
    opacity: 0.6;
    pointer-events: none;
}

body.subscribe-mode .parcel-polygon {
    opacity: 0.4;
}

body.choosing-radius .ref-marker {
    display: none;
}

.subscribe-popup .leaflet-popup-content {
    width: 130px;
}

.subscribe-popup .subscribe-link {
    background-color: var(--action-color);
    color: white;
    padding: 8px;
    white-space: nowrap;
}

.subscribe-popup .subscribe-link:hover {
    background-color: var(--active-action-color);
    text-decoration: none;
}

#subscribe a:hover {
    text-decoration: none;
}

#subscribe {
    background-color: var(--action-color);
}

#subscribe .screen {
    color: white;
    display: none;  
}


#subscribe .screen1 {
    text-align: center;
    display: block;
}

.signup-screen {
    display: flex;
}

.signup-screen .form {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 1em;
}


.signup-screen .input-group {
    display: flex;
}

.signup-screen button {
    border: none;
}

.signup-screen .cancel {
    flex: 0 0 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: xx-large;
    font-weight: 200;
    width: 2em;
}

/* Google Places Autocomplete */
.pac-container {
    background-color: rgba(43, 43, 43, 1);
    border: 1px solid white;
    font-family: inherit;
}

.pac-item {
    border-top: none;
    color: #eee !important;
    font-size: small;
    padding: 0.5em;
}

.pac-item-query {
    color: #eee;
    font-size: large;
}

.pac-matched {
    color: white;
}

.pac-item > span > span:first-child {
    font-size: large;
}

.pac-item-selected,
.pac-item:hover {
    background-color: rgba(100, 100, 100, 1);
}

.pac-icon.pac-icon-marker {
    display: none;
}

.pac-logo:after {
    display: none;
}

/**************/
/* Responsive */
@media screen and (min-width: 768px) {
    .resp-portrait-show {
        display: none;
    }

    #info .main-thumb {
        max-height: 300px;
        max-width: 95%;
    }

    #info .images {
        margin-top: 1em;
    }

    #info .document, #info .event {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media screen and (min-width: 700px) {
    .signup-screen .form {
        flex-direction: row;
    }

    .signup-screen .form > span {
        align-self: center;
        flex: 0;
        padding-right: 1em;
        /* text-transform: uppercase; */
        white-space: nowrap;
    }

    .signup-screen .form > .input-group {
        flex: 1;
    }

    .nointro #alert-container {
        top: 120px;
    }

    body.nointro #ref-address-form .status {
        right: 2.5em;
    }

    body.nointro .filters-button {
        display: block;
    }

    #subscribe {
        display: none;
        padding: 0.5em;
        position: absolute;
        right: 10px;
        top: 75px;
        transition-property: width;
        transition-duration: 0.1s;
    }

    body.subscribe-mode #subscribe {
        left: 0;
        top: 65px;
        right: 0;
    }

    body.choosing-bounds #subscribe {
        border-bottom: 3px solid #FF6005;
    }

    body.main #subscribe,
    body.list #subscribe {
        display: block;
    }

    body.choosing-bounds #search-banner > * {
        filter: grayscale(60%);
        pointer-events: none;
        opacity: 0.8;
    }

    body.subscribe-mode #search-banner > #alert-container {
        filter: none;
        opacity: 1;
        pointer-events: all;
        top: 130px;
    }

    #map-controls {
        bottom: 1em;
    }

    .nointro #alert-container {
        text-align: left;
    }

    #side-menu.collapsed {
        display: none;
    }

    #side-menu {
        width: 300px;
        /* right: 200px; */
        right: 27%;

        top: 60px;
    }

    #info-menu {

    }

    ._mobile-only {
        display: none !important;
    }
}

@media screen and (min-width: 1000px) {
    .nointro #alert-container {
        top: 75px;
    }
}

/*
    Mobile styles:
 */

 /* Intermediate size: */
@media screen and (max-width: 768px) {
    #search-banner {
        top: 60px;
    }

    .input-button {
        display: none;
    }

    .resp-portrait-hide {
        display: none;
    }

    .layer-list {
        height: 3em;
    }

    .layer-button {
        padding-top: 0.5em;
        height: 3em;
        width: 4em;
    }

    .layer-button .layer-icon {
        font-size: xx-large;
    }

    .layer-button .label {
        display: none;
    }
}

@media screen and (min-width: 700px) and (max-width: 850px) {
    #ref-address-form .input {
        font-size: 2vw !important;
    }

}

@media screen and (max-width: 700px) {
    body.nointro #search-banner .overlay-contents {
        height: 2em;
        width: 100% !important;
    }

    body:not(.nointro) #loading-indicator {
        background-color: transparent;
        border: none;
        right: 0;
        top: 0;
    }

    body.nointro #logo {
        display: none;
    }

    body #hamburger {
        background: url(../images/menu-icon@3x.png) center / contain;
        position: absolute;
        right: 1em;
        top: -50px;
        height: 40px;
        width: 40px;
        background-color: transparent;
        z-index: 3;
    }

    body.nointro #hamburger {
        top: 0.75em;
    }

    #ref-address-form input {
        width: 97%;
    }

    body.nointro #search-banner .input-group {
        position: absolute;
        left: 10px;
        right: 60px;
    }

    input:focus ~ #ref-address-form .cancel {
        color: white;
        display: block !important;
        position: absolute;
        right: 0;
        z-index: 10;
    }

    body #mode-controls {
        display: none !important;
    }

    #parcel-info {
        display: none;
    }

    #side-menu {
        top: 0;
        bottom: 0;
    }

    body.nointro #side-menu.expanded {
        display: block;
        right: 0;
    }

    #side-menu.collapsed {
        display: block;
        right: -26em;
    }

    #mobile-site-message {
        font-size: smaller;
        position: absolute;
        bottom: 1em;
        left: 1.5em;
        right: 1.5em;
    }

    #modal-contents {
        margin-left: 1%;
        margin-right: 1%;
    }

    h3 {
        font-size: smaller;
    }

    .details .source-link {
        display: none;
    }

    #alert {
        border: none;
        border-radius: 0;
        font-size: large;
        padding: 1em;
        position: absolute;
        left: 0px;
        right: 0px;
        text-align: left;
        width: auto;
    }

    .close:hover {
        text-decoration: none;
    }

    body.choosing-bounds #search-banner > * {
        display: none;
    }

    body.choosing-bounds #alert-container {
        top: 1px;
    }

    body.subscribe-mode #search-banner > #alert-container {
        display: block;
    }

    body.subscribe-mode #map-container {
        border-bottom: none;
    }

    body.subscribe-mode #alert {
        left: 3px;
        right: 3pxa;
        top: 2px;
    }

    body.choosing-bounds #subscribe {
        border-top: 3px solid #FF6005;
    }

    body.subscribe-mode #map-controls {
        bottom: 6em;
    }

    /* Subscribe/signup controls */
    body.main #subscribe {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #subscribe .screen {
        color: white;
        display: none;
        text-transform: uppercase;
    }

    #subscribe .screen1 {
        display: block;
        font-size: x-large;
        font-size: 4.5vw;
    }

    /* List view tweaks for mobile */
    .proposal-info .thumbnail {
        float: none;
        width: auto;
    }

    #list-view.empty .no-results {
        font-size: large;
        line-height: 50px;
    }

    /* Info view */
    #info .sidebar {
        padding-right: 0;
        position: relative;
        width:  auto;
    }

    #info {
        padding-right: 4em;
    }

    #info .document {
        display: inline-block;
        max-width: 95%;
    }

    #info .footnotes {
        margin-top: 2em;
        position: relative;
    }

    #info.expanded .sidebar {
        display: block;
    }

    #info .main-thumb {
        max-height: 200px;
        max-width: 100%;
    }

    ._desktop-only {
        display: none !important;
    }
}

@media screen and (max-width: 1000px) {
    body.nointro #logo {
        background: url(../images/cornerwise-owl.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 40px;
        width: 40px;
    }

    body.nointro #logo .logo-text {
        display: none;
    }
}
