.navbar-inverse {
    background-color: rgba(43, 43, 43, 0.98);
}

.logo {
    padding: 0.2em;
}

.logo img {
    max-height: 40px;
}

#logo {
    background: url(/static/images/cornerwise-logo.png);
    display: block;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0.5em;
    margin-left: 0.75em;
    margin-top: 0.75em;
    height: 50px;
    width: 150px;
    border: none;
}

#logo .logo-text {
    color: #c03233;
    font-size: small;
    text-transform: uppercase;
    position: relative;
    right: -4.5em;
    top: 1.5em;
    text-align: right;
}

.task-message {
    display: none;
}

.task-pending .task-message.pending-message,
.task-success .task-message.success-message,
.task-failure .task-message.failure-message {
    display: block;
}

footer {
    padding: 15px;
}

.pre {
    white-space: pre-wrap;
}

.attr-decision .search-link,
.attr-votes_to_deny .search-link,
.attr-votes_to_approve .search-link,
.attr-vote .search-link {
    display: none;
}

.search-link {
    color: #ccc;
    float: right;
}

.search-link:hover {
    text-decoration: none;
}

a.anchor {
    color: black;
}

a.anchor:hover {
    text-decoration: none;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-items: flex-start;
    /* align-items: start; */
}

.grid .document {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.documents.grid .thumbnail img {
    align-self: center;
}

.grid .document .thumbnail {
    background-color: #eee;
    flex-grow: 1;
    display: flex;
}

.images.grid .thumbnail {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 1em;
    overflow: hidden;
}

.images.grid .thumbnail img {
    object-fit: cover;
}

.action-button {
    background-color: #3c7c3d;
    color: white;
    padding: 0.5em;
    text-transform: uppercase;
}
