.maps {
    /* width: 90%; */
    padding-top: 60px;
    height: 100vh;
    position: relative;
}

/* Map */
#zoning-map {
    border: 2px solid black;
    width: 100%;
    height: 500px;
}

#map-container {
    position: relative;
}

#ref-address {
    position: absolute;
    top: 20px;
    left: 65px;
    right: 30px;
    height: 40px;
}

#ref-address input {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    padding: 5px;
    font-size: larger;
    width: 85%;
    height: 100%;
}

#geolocate, #geolocating-indicator {
    font-size: larger;
    position: absolute;
    right: 10px;
    top: 0;
    width: 10%;
    height: 100%;
    display: block;
}

.geolocating #geolocate, #geolocating-indicator {
    display: none;
}

.geolocating #geolocating-indicator {
    display: block;
    text-align: center;
}


#ref-address:hover input {
    background-color: rgba(255, 255, 255, 1);
}

#radius-filter.inactive {
    opacity: 0.5;
}

/* Permit Table */
#permit-list {
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#permit-list th,
#permit-list td {
    width: 50%;
}

#permit-list thead tr {
    display: block;
    position: relative;
}

#permit-list tfoot {
    display: none;
}

#permit-list.loading tfoot {
    display: block;
}

#permit-list tbody {
    display: block;
    overflow: auto;
    width: 100%;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.permit-hovered, .permit-selected {
    background-color: #add8e6;
}

.permit-info {
    cursor: pointer;
}

.permit-name {
    font-weight: bold;
}

.permit-desc {
    font-size: smaller;
}

.permit-info .distance {
    font-style: italic;
}

.permit-details {
    padding: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.permit-info.excluded {
    display: none;
}

/*
th, th {
    padding: 3px;
}
*/
th {
    cursor: pointer;
}

th.sort-field {
    background-color: lightgray;
}

th.sort-field::after {
    content: " ▲";
}

th.sort-field.desc::after {
    content: " ▼";
}


/* Collapsible View */
a.toggle::after {
    content: " ▸";
}

.shown a.toggle::after {
    content: " ▾";
}

.collapse-title {
    background-color: #397f34;
    font-weight: bold;
    padding: 5px;
    text-shadow: 1px 1px black;
}

.collapse-title a {
    color: white;
    text-decoration: none;
}

.collapsible {
    border: 1px solid gray;
    margin-bottom: 5px;
    overflow: hidden;
}

.collapsible .collapse-body {
    max-height: 0;
    padding-left: 5px;

    transition: max-height 0.2s ease-in;
}

.collapsible.shown .collapse-body {
    max-height: 1000px;
}
