.maps {
    height: 100%;
    /* width: 90%; */
    padding-top: 60px;
}

.col-sm-4 {
    width: 20%;
    height: 100%;
}

.col-sm-8 {
    width: 80%;
    height: 100%;
}

#zoning-map {
    border: 2px solid black;
    width: 100%;
    height: 400px;
}

#permit-list {
    border: 1px solid navy;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    height: 20%;
}

#permit-list li {
    padding: 2px;
}

#permit-list li:nth-child(2n) {
    background-color: #B0C4DE;
}

.permit-hovered {
    background-color: #add8e6;
}

.permit-name {
    font-weight: bold;
}

.permit-desc {
    font-size: smaller;
}

.permit-details {
    padding: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
}

li.permit-info {
    position: relative;
    transition: height 0.2s;
}

li.permit-info.excluded {
    display: none;
}
