<a class="close" href="#view=main">Close</a>

<h2>Contact Us</h2>

<form action="/contact" method="post">
    <div class="form-error" style="display: none"></div>
    <div class="input-group">
        <label for="contact-send-to" class="select">
            Topic
        </label>
        <br/>
        <select id="contact-send-to" name="send_to" required>
            <option value="" disabled hidden selected>Choose topic</option>
            <% _.each(config.contacts || [], function(contact) { %>
            <option value="<%- contact.name %>"><%- contact.topic %></option>
            <% }); %>
        </select>
    </div>

    <div class="input-group">
        <label for="contact-subject" class="select" >
            Subject (optional)
        </label>
        <br/>
        <input name="subject"
               type="text"
               class="big"
               value="<%- modal.subject %>"/>
    </div>

    <div class="input-group">
        <label for="contact-text" class="select">
            Comments
        </label>
        <br/>
        <textarea id="contact-text" name="comment" rows="10"></textarea>
    </div>

    <button  type="submit" class="big big-submit">
        Send
    </button>
</form>

