<a class="close" href="#view=main">Close</a>

<h2>Contact Us</h2>

<form>
    <label for="contact-send-to" class="select">
        Contact
    </label>
    <br/>
    <select id="contact-send-to" name="send_to">
        <option value="planning-board">About a project</option>
        <option value="cornerwise">About the website</option>
        <option value="webmaster">Other</option>
    </select>
    <br/>

    <label for="contact-text" class="select">
        Comments
    </label>
    <br/>
    <textarea id="contact-text" name="comment" rows="10">
    </textarea>
</form>

