<a class="close" href="#view=main">Close</a>

<h2>Contact Us</h2>

<form>
    <label for="contact-send-to" class="select">
        Contact
    </label>
    <br/>
    <select id="contact-send-to" name="send_to">
        <option value="planning-board">Planning Board</option>
        <option value="cornerwise">Cornerwise Maintainers</option>
        <option value="webmaster">Somerville Webmaster</option>
    </select>
    <br/>

    <label for="contact-text" class="select">
        Comments
    </label>
    <br/>
    <textarea id="contact-" name="" rows="10">
    </textarea>
</form>

