<div id="event-browser">
  <h2>Events</h2>
  <p>
    Upcoming public meetings for Somerville, MA:
  </p>
  <div class="selected-event">
    <h3>Zoning Board of Appeals</h3>
    <div class="date">January 20, 2016</div>
    <div class="location">
      City Hall - Aldermanic Chamber<br/>
      Lowell Street
    </div>

    <ul class="event-proposals model-list">
      <li class="list-head">Related Proposals:</li>
      <li>
        <a href="#view=details&ps=1">221 Highland Avenue</a>
        &mdash; <em>John and Jane Smith</em>
      </li>
      <li><a href="#view=details&ps=2">35 Cutter St</a></li>
      <li><a href="#view=details&ps=3">226 Pearl St</a></li>
    </ul>
  </div>

  <ul class="event-list">
    <li>
      <h4>Community Preservation Act Community Meeting</h4>
      <div class="date">January 27, 2016</div>
    </li>
  </ul>
</div>
