<a class="close" href="#view=main">Close</a>

<div id="event-browser">
  <h2>Events</h2>
  <p>
    Upcoming public meetings for Somerville, MA:
  </p>
  <div class="selected-event">
    <h3>Zoning Board of Appeals</h3>
    <div class="date">January 20, 2016</div>
    <div class="location">
      City Hall - Aldermanic Chamber<br/>
      Lowell Street
    </div>

    <ul class="event-proposals model-list">
      <li class="list-head">Related Proposals:</li>
      <li>
        <a href="#view=details&ps=1">31-33 Union Sq</a>
        &mdash; <em>John and Jane Smith</em>
      </li>
      <li>
        <a href="#view=details&ps=2">70 Lowden Ave</a>
        &mdash; <em>Rick and Morty Sanchez</em>
      </li>
      <li>
        <a href="#view=details&ps=3">40 Evergreen Ave</a>
        &mdash; <em>Tom and Jerry Cat-Mouse</em>
      </li>
    </ul>
  </div>

  <ul class="event-list">
    <li>
      <h4>Community Preservation Act Community Meeting</h4>
      <div class="date">January 27, 2016</div>
    </li>
  </ul>
</div>
