<div class="model-list">
    <div class="list-controls" >
        <%
        var models = collection,
        n = models.length,
        typeName = collection.getModelName(),
        sort = collection.sortField,
        desc = collection.desc,
        sortClass = function(n) { return n == sort ? 'sorted ' + (desc ? 'desc' : '') : ''; };
        %>

        Sort By:

        <% _.each(collection.sortFields, function(field) { %>
        <a href="#"
           class="button sort-button <%= sortClass(field.field) %>"
           data-sort="<%- field.field %>">
            <%- field.name %>
        </a>
        <% }) %>

        <div class="results-info">
            Matched <%- n %> <%- pluralize(n, typeName) %>
        </div>
    </div>
    <div class="no-results" >
        Sorry. No results matched your query
    </div>
    <div class="contents"></div>
</div>
