<div class="model-list">
    <div class="list-controls" >
        <%
        var models = collection.getFiltered(),
        n = models.length,
        sort = collection.sortField,
        desc = collection.desc,
        sortClass = function(n) { return n == sort ? 'sorted ' + (desc ? 'desc' : '') : ''; };
        %>

        Sort By
        <a href="#"
           class="button sort-button <%= sortClass('refDistance') %>"
           data-sort="refDistance">
            Distance
        </a>
        <a href="#"
           class="button sort-button <%= sortClass('updated') %>"
           data-sort="updated">
            Last Updated
        </a>
    </div>
    <div class="contents"></div> 
</div>
