<%
var attrs = parcel.attributes;
%>

<table>
    <% if (attrs.lotSize) { %>
    <tr>
        <th> Lot Size: </th>
        <td><%- commas(acresToSqFt(attrs.lotSize)) %> ft<sup>2</sup></td>
    </tr>
    <% } %>
    <% if (attrs.yearBuilt) { %>
    <tr>
        <th>
            Year Built:
        </th>
        <td>
            <%= attrs.yearBuilt %>
        </td>
    </tr>
    <% } %>
    <% if (attrs.zoning) { %>
    <tr>
        <th> Current Zone: </th>

        <td> <%= attrs.zoning %> </td>
    </tr>
    <% } %>
</table>
