<% var project = proposal.getProject(); %>

<div class="details">
    <% if (project) { %>

    <h4>
        <%- project.name %>
    </h4>
    <h5>
        <%- proposal.get("address") %>
    </h5>

    <% } else { %>
    <h4>
        <%- proposal.get("address") %>
    </h4>
    <% } %>

    <div class="case-number"><%- proposal.get("caseNumber") %></div>
    <%
    var notice = proposal.getAttributeValue("legal_notice");

    if (notice) {
    %>
    <div class="legal-notice"><%- notice %></div>
    <% } %>

    <div class="sidebar">
        <div class="main-thumb-container">
            <img class="main-thumb" src="<%= proposal.getImage() %>"/>
        </div>

        <% if (proposal.get("parcel")) { %>
        <% with(proposal.get("parcel")) {
        var lotSize = properties.LOT_SIZE,
        area = properties.BLD_AREA,
        zone = properties.ZONING;
        %>
                <table class="table parcel-info">
                    <% if (lotSize) { %>
                    <tr class="attribute">
                        <th>Lot Size:</th>
                        <td><%- lotSize %> acres</td>
                    </tr>
                    <% } %>

                    <% if (area) { %>
                    <tr class="attribute">
                        <th>Residential Area</th>
                        <td><%- commas(area) %> square feet</td>
                    </tr>
                    <% } %>
                    <% if (zone) { %>
                    <tr class="attribute">
                        <th>Current Zone:</th>
                        <td><%- zone %></td>
                    </tr>
                    <% } %>
                </table>
            <% }  %>
        <% }  %>

        <%
        var documents = proposal.get("documents");
        if (documents && documents.length) { %>
        <div class="documents">
            <% _.each(documents.slice(0, 10), function(doc) { %>
            <a class="document" href="<%= doc.url %>"
               target="_blank" title="<%- doc.title %>">
                <%- doc.title %>
            </a>
            <% }); %>
        </div>
        <!-- end documents -->
        <% } %>
    </div>

    <%
    if (project) {
    %>

    <div class="description">
        <% if (project.description) { %>
        <%- project.description %>
        <% } else { %>
        <span class="empty-field">No description available.</span>
        <% } %>
    </div>

    <div class="chart-area" >
        <canvas class="budget-chart" height="200" width="500"/>
    </div>
    <%
    }
    %>

    <%
    var attributes = proposal.getAttributes();
    %>
    <div class="attributes">
        <% _.each(attributes, function(attr) { %>
        <% if (attr) { %>
        <div class="attribute"><%- attr.name %> </div>
        <div class="attribute-value"><%- attr.value %></div>
        <% } %>
        <% }); %>
    </div>

    <% var images = proposal.get("images");
    if (images && images.length) { %>
    <div class="images">
        <% _.each(images.slice(0, 10), function(img) { %>
        <a class="thumb-link" href="#image=<%= img.id %>">
            <img class="thumb" src="<%= img.thumb || img.src %>"/>
        </a>
        <% }); %>
        <br style="clear:both" />
    </div>
    <% } %>
</div>

