<!-- List item -->
<% var project = proposal.getProject(); %>
<div class="thumbnail" >
    <img src="<%- proposal.getThumb() %>"/>
    <a class="show-on-map"
       href="#view=main&ps=<%- proposal.id %>"
       data-model-id="<%- proposal.id %>"
       title="Show on Map"></a>
</div>
<div class="dates">
    Last updated <span class="updated"><%= prettyDate(proposal.get("updated")) %></span>
</div>
<div class="name" title="<%- proposal.get('address') %>">
    <%- proposal.get('address') %>
</div>
    <% if (project) { %>
<div class="project-name" ><%- project.name %></div>
    <div class="case" >Capital Project</div>
    <% } else { %>
    <div class="case">
        <%- proposal.get("caseNumber") %>
    </div>
    <% } %>
&bull;
<div class="distance">
    <%= prettyDistance(proposal.get('refDistance')) %> away
    from
    <%= refLocationButton() %>
</div>
&bull;
<a class="source-link"  href="<%- proposal.get('source') %>" target="_blank ">Source</a>

<% if (project) { %>
<table class="attributes table" >
    <tr class="attribute" >
        <th scope="row" >DESCRIPTION</th>
        <td><%- project.description %></td>
    </tr>
    <tr class="attribute" >
        <th scope="row" >JUSTIFICATION</th>
        <td><%- project.justification %></td>
    </tr>
</table>
<% } else { %>
<%
var notice = proposal.getAttributeValue("legal_notice");

if (notice) {
%>
<div class="legal-notice">
    <%= gloss(abridge(notice)) %>
</div>
<% } %>

<table class="attributes table">
    <tr class="attribute">
        <th scope="row">APPLICANT</th>
        <td><%- proposal.getAttributeValue("applicant_name") %></td>
    </tr>

    <tr class="attribute">
        <th scope="row">PUBLIC HEARINGS</th>
        <td><%- proposal.getAttributeValue("dates_of_public_hearing") %></td>
    </tr>
</table>
<% } %>

<%
var documents = proposal.get("documents");
if (documents && documents.length) { %>
<div class="documents" >
    <% _.each(documents, function(doc) { %>
    <a class="document"  href="<%= doc.url %>"  target="_blank">
        <%- doc.title %>
    </a>
    <% }); %>
</div>
<% } %>
