<div class="popup-contents">
    <h4> <%- proposal.get("address") %> </h4>
    <h5> <%- proposal.get("region_name") %> </h5>

    <% var complete = proposal.get("complete"), status = proposal.get("status")

    %>
    <a class="proposal-badge <%- status.match(/approved/i) ? 'proposal-approved' : 'proposal-denied' %>"
       title="Proposal <%- status %> on <%- shortDate(complete) %>">
    </a>
    
    <div class="applicant">
        <%- proposal.getAttributeValue("applicant_name") %>
    </div>

    <div class="main-thumb-container">
        <img class="main-thumb" src="<%= proposal.getThumb() %>" />
    </div>

    <%
    var notice = proposal.getAttributeValue("legal_notice");

    if (notice) {
    %>
    <div class="description">
        <%- abridge(notice) %>
    </div>
    <% } %>

    <a href="#view=info" class="more">More&hellip;</a>
</div>
