<%
var project = proposal.getProject();
var address = proposal.get("address");
var region = proposal.get("region_name");
%>

<div class="details">
    <% if (project) { %>

    <h4>
        <%- project.name %>
    </h4>
    <h5>
        <%- address %>
    </h5>

    <% } else { %>
    <h4>
        <%- address %>
    </h4>

    <% var others = proposal.getOtherAddresses();

    if (others.length) { %>
    <h5>
        Additional addresses: <%- others.join(", ") %>
    </h5>
    <%
    }
    } %>

    <a class="case-number" title="Proposal Permalink" target="_blank" href="<%- proposal.getPermalink() %>">
        <%- proposal.get("case_number") %>
    </a>

    <%
    var notice = proposal.getAttributeValue("legal_notice");

    if (notice) {
    %>
    <div class="legal-notice"><%= gloss(notice, false, region) %></div>
    <% }

    var complete = proposal.get("complete"), status = proposal.get("status");

    if (complete) {
    %>
    <div class="decision">
        <span class="<%- (proposal.isApproved())? 'approved' : 'denied' %>">
            <%- status %>
        </span> on <%- mediumDate(complete) %>
    </div>
    <% } %>
    <div class="sidebar">
        <div class="main-thumb-container">
            <img class="main-thumb" src="<%= proposal.getImage() %>"/>
        </div>

        <%
        var parcel = proposal.getParcel();
        if (parcel && parcel.attributes) { %>
        <%
        var attrs = parcel.attributes;
        %>
        <table class="table parcel-info">
            <% if (attrs.lotSize) { %>
            <tr class="attribute">
                <th>Lot Size:</th>
                <td><%- commas(acresToSqFt(attrs.lotSize)) %> square feet</td>
            </tr>
            <% } %>

            <% if (attrs.bldArea) { %>
            <tr class="attribute">
                <th>Floor Area</th>
                <td><%- commas(attrs.bldArea) %> square feet</td>
            </tr>
            <% } %>
            <% if (attrs.zoning) { %>
            <tr class="attribute">
                <th>Current Zone:</th>
                <td><%- attrs.zoning %></td>
            </tr>
            <% } %>
        </table>
        <% }
        var documents = proposal.get("documents");
        var events = proposal.get("events");

        if (events.length) {
        %>
        <h5>Public Hearings</h5>
        <div class="events">
            <% _.each(events, function(event) { %>
            <div>
                <a class="event" href="/proposal/event/<%- event.id %>" target="_blank">
                    <%- shortDate(event.date) %> &mdash;
                    <%- event.title %>
                </a>
            </div>
            <% }); %>
        </div>
        <%
        }
        %>

        <a class="big big-submit"
           href="#view=contact&modal.subject=<%- encodeURIComponent(address) %>">
            Contact Us
        </a>
    </div>

    <%
    if (project) {
    %>

    <div class="description">
        <% if (project.description) { %>
        <%- project.description %>
        <% } else { %>
        <span class="empty-field">No description available.</span>
        <% } %>
    </div>

    <div class="chart-area" >
        <canvas class="budget-chart" height="200" width="500"/>
    </div>
    <%
    }
    %>

    <%
    var attributes = proposal.getAttributesForDisplay();
    %>
    <div class="attributes">
        <% _.each(attributes, function(attr) { %>

        <% if (attr) {
            var value = attr.value;
        %>
            <div class="attribute"><%- attr.name %> </div>

            <div class="attribute-value <%= attr.type %>-attr %>">
            <% if (attr.type === "person") { %>
                <%- value.name %>
                <% if (value.address) { %>
                    <span class="address">&nbsp;(<%- value.address %>)</span>
                <% } %>
            <% } else if (attr.type === "decision") {%>
                <%= value.decision %>
                <% if (value.vote) { %> (<%= value.vote %>) <% } %>
            <% } else { %>
                <%- attr.value %>
            <% } %>
            </div>
        <% } %>
        <% }); %>
    </div>

    <% if (!options.hideDocuments) { %>
    <div class="documents">
        <%
        _.each(proposal.getDocumentsForDisplay(),
                function(group) {
        if (group.documents.length) {
        %>
        <h5><%- group.name %></h5>
        <div class="document-group">
            <% _.each(group.documents, function(doc) { %>
            <a class="document" href="<%= doc.url %>" target="_blank" title="<%- doc.title %>">

                <%- doc.title %>
            </a>
            <% }); %>
        </div>
        <%
        }
        });
        %>
    </div>
    <% } %>

    <% if (!options.hideImages) { %>
    <% var images = proposal.get("images");
    if (images && images.length) { %>
    <div class="images">
        <% _.each(images.slice(0, 10), function(img) { %>
        <a class="thumb-link" href="#image=<%= img.id %>">
            <img class="thumb" src="<%= img.thumb || img.src %>"/>
        </a>
        <% }); %>
        <br style="clear:both" />
    </div>
    <% } %>
    <% } %>

    <div class="footnotes">
        <div>
            <% if (attributes.length || notice) { %>
            Proposal details may have been automatically extracted from PDF files and may be incomplete or inaccurate.
            <% if (documents && documents.length) { %>
            View the attached documents for complete information.
            <% } %>
            <% } else { %>
            Proposal details will be added when the appropriate documents become available.
            <% } %>
        </div>

        <% if (parcel) { %>
        <div>Parcel details may be out of date.</div>
        <% } %>
    </div>
</div>

