<div class="popup-contents">
    <h4> <%- proposal.get("address") %> </h4>
    <h5> <%- proposal.get("region_name") %> </h5>

    <div class="applicant">
        <%- proposal.getAttributeValue("applicant_name") %>
    </div>

    <div class="main-thumb-container">
        <img class="main-thumb" src="<%= proposal.getThumb() %>" />
    </div>

    <%
    var notice = proposal.getAttributeValue("legal_notice");

    if (notice) {
    %>
    <div class="description">
        <%- abridge(notice) %>
    </div>
    <% } %>

    <a href="#view=info" class="more">More&hellip;</a>
</div>
