<div class="details">
  <a href="#" class="close">Close</a>
  <h4>
    <div class="minimap"></div>
    <%- proposal.address %>
  </h4>
  <div class="case-number"><%- proposal.caseNumber %></div>

  <% if (proposal.attributes && proposal.attributes.length) { %>
  <table class="attributes section table">
    <% _.each(proposal.attributes, function(attr) { %>
    <tr class="attribute">
      <th scope="row"><%- attr.name %>:</th>
      <td><%- attr.value %></td>
    </tr>
    <% }); %>
  </table>
  <% } %>

  <% if (proposal.documents && proposal.documents.length) { %>
  <div class="documents section">
    <div class="section-title">Documents</div>
    <% _.each(proposal.documents.slice(0, 10), function(doc) { %>
    <a class="document" href="<%= doc.url %>" target="_blank">
      <% if (doc.thumb) { %>
      <img class="thumb" src="<%- doc.thumb %>"/>
      <% } else { %>
      <div class="dummy-thumb thumb">Doc</div>
      <% } %>
      <div class="title"><%- doc.title %></div>
    </a>
    <% }); %>
  </div>
  <% } %>

  <% if (proposal.images && proposal.images.length) { %>
  <div class="images section">
    <div class="section-title">Images</div>
    <% _.each(proposal.images.slice(0, 10), function(img) { %>
    <a class="thumb-link" href="<%= img.src %>" target="_blank">
      <img class="thumb" src="<%= img.thumb || img.src %>"/>
    </a>
    <% }); %>
  </div>
  <% } %>

  <% if (proposal.parcel) { %>
  <% with(proposal.parcel) { %>
  <div class="section">
    <div class="section-title">
      Parcel
    </div>

    <table class="table">
      <tr>
        <td>Lot Size:</td>
        <td><%- properties.LOT_SIZE %> acres</td>
      </tr>
      <tr>
        <td>Residential Area</td>
        <td><%- commas(properties.RES_AREA) %> square feet</td>
      </tr>
    </table>
  </div>
  <% } %>
  <% } %>
</div>
